<nav>
<div id="menuWrapper">
    <div id="menu">
        <div id="logo">
            <a href="/">Persentil Hesaplama</a>
        </div>
        <div id="top-links">
            <ul>
                <li><a href="/login">Giris Yap</a></li>
                <li><a href="/register">Kaydol</a></li>
            </ul>
        </div>
    </div>
</div>
</nav>