
  <div class="container">
    <div class="title">Persentil Hesaplama</div>
    <div class="content">
      <form >
        <div class="user-details">
          <div class="input-box">
            <span class="details">Doğum Tarihi</span>
            <input type="date" id="dogumtarihi" placeholder="14.04.2021" required>
          </div>
          <div class="input-box">
            <span class="details">Boyu</span>
            <input type="number" name="boy" id="boy" step=0.01 placeholder="72 cm" required>
          </div>
          <div class="input-box">
            <span class="details">Kilosu</span>
            <input type="number" id="kilo" placeholder="11 kg" required>
          </div>
          <div class="input-box">
            <span class="details">Baş Çevresi(Zorunlu değil)</span>
            <input type="text" id="x"  placeholder="25 cm" >
          </div>
  
        </div>
        <div class="gender-details">
          <input type="radio" value="Erkek" name="gender" id="erkekRadio">
          <input type="radio" value="Kız" name="gender" id="kizRadio">

          <span class="gender-title">Cinsiyet</span>
          <div class="category">
            <label for="erkekRadio">
            <span class="dot one"></span>
            <span class="gender">Erkek</span>
          </label>
          <label for="kizRadio">
            <span class="dot two"></span>
            <span class="gender">Kız</span>
          </label>
          </div>
        </div>

        <div class="button">
          <button type="submit" value="Gonder" onclick="hesaplaPers()" id="hesaplaBtn">Gönder</button>
     
        </div>
      </form>
    </div>

    <div class="resultDiv" id="resultDiv" style="display: none;">
      <div class="ResultArea">
        
        <div class="PersentilChartResult">
            <b>Hesaplama Sonuçları</b> <br>
            <span class="ResultTitle">Boy:</span> <span class="ResultTitleLabelValue" id="resultBoy"></span> <span class="ResultTitle"> cm</span><br>
            <span class="ResultTitle">Kilo:</span> <span class="ResultTitleLabelValue" id="resultKilo"></span><span class="ResultTitle"> kg</span><br>
            <span class="ResultTitle">Cinsiyet:</span> <span class="ResultTitleLabelValue" id="resultCinsiyet"></span><br>
            <span class="ResultTitle">Yaşı :</span> <span class="ResultTitleLabelValue" id="resultDogumTarihi"></span>
                
            <p class="ResultTitlePragraph"> Bu yaştaki <span id="resultCinsiyetPragraph"></span> çocukların ortalama boyu : <span id="resultBoyOrtalama"></span> cm</p>
            <p class="ResultTitlePragraph"> Bu yaştaki <span id="resultCinsiyetPragraph"></span> çocukların ortalama kilosu : <span id="resultKiloOrtalama"></span> kg</p>


            <p class="ResultTitlePragraph" id="ResultMessage"></p>
        </div>

    </div><br><br>
    <center><h2 id="boyGrafikLabel" >Boy Grafiği</h2></center>
    <div class="boyChartDiv"><canvas id="myChartBoy" width="400" height="400"></canvas></div>
     <center><h2 id="boyGrafikLabel" >Kilo Grafiği</h2></center>
    <div class="coyKiloDiv"><canvas id="myChartKilo" width="400" height="400"></canvas></div>
</div>

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="path/to/chartjs/dist/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" >


var mesajBoy;
var mesajKilo;
let btn= document.querySelector("#hesaplaBtn");


btn.addEventListener("click", function(e){
  fPrevent(e);

  var x = document.getElementById("resultDiv");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }

});

function fPrevent(e){
e.preventDefault()

}


btn.addEventListener('click',hesaplaPers)

btn.addEventListener("click",()=>{

  Swal.fire({
  icon: 'success',
  title: 'Persentil Hesaplandı',
  text: `${mesajBoy}` +  `${mesajKilo} `,
  
  confirmButtonText:
    '<i class="fa fa-thumbs-up"></i> Tamam',
  footer:   'Detaylı bilgi için  ' +
    ' ' +
    '<a href="https://sagligim.gov.tr/bebek-sagligi/tamamlayici-beslenme.html">Tıklayınız!</a> ',

})

})

function getChartBoyErkek(x,y){

var ctx = document.getElementById('myChartBoy');
const chartBoy = new Chart(ctx, {
          type: 'line',
          fill: false,
          data: {
              labels: ['Doğum', '3 Ay', '6 Ay', '9 Ay', '12 Ay', '15 Ay', '18 Ay', "2 Yaş", "2,5 Yaş", "3 Yaş", "3,5 Yaş", "4 Yaş", "4,5 Yaş", "5 Yaş"],
              datasets: [{

          
                  data: [
                  {x:"Doğum",y:46.3},
                  {x:"3 Ay",y:57.6},
                  {x:"6 Ay",y:63.6},
                  {x:"9 Ay",y:67.7},
                  {x:"12 Ay",y:71.3},
                  {x:"15 Ay",y:74.4},
                  {x:"18 Ay",y:77.2},
                  {x:"2 Yaş",y:81.4},
                  {x:"2,5 Yaş",y:85.5},
                  {x:"3 Yaş",y:89.1},
                  {x:"3,5 Yaş",y:92.4},
                  {x:"4 Yaş",y:95.4},
                  {x:"4,5 Yaş",y:98.4},
                  {x:"5 Yaş",y:101.2}],
                  
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%3',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:47.9},
                  {x:"3 Ay",y:59.3},
                  {x:"6 Ay",y:65.4},
                  {x:"9 Ay",y:69.6},
                  {x:"12 Ay",y:73.3},
                  {x:"15 Ay",y:76.5},
                  {x:"18 Ay",y:79.5},
                  {x:"2 Yaş",y:83.9},
                  {x:"2,5 Yaş",y:88.4},
                  {x:"3 Yaş",y:92.2},
                  {x:"3,5 Yaş",y:95.7},
                  {x:"4 Yaş",y:99.0},
                  {x:"4,5 Yaş",y:102.1},
                  {x:"5 Yaş",y:105.2}],

                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%15',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:48.6},
                  {x:"3 Ay",y:60.1},
                  {x:"6 Ay",y:66.2},
                  {x:"9 Ay",y:70.5},
                  {x:"12 Ay",y:74.1},
                  {x:"15 Ay",y:77.4},
                  {x:"18 Ay",y:80.4},
                  {x:"2 Yaş",y:85.1},
                  {x:"2,5 Yaş",y:89.6},
                  {x:"3 Yaş",y:93.6},
                  {x:"3,5 Yaş",y:97.2},
                  {x:"4 Yaş",y:100.5},
                  {x:"4,5 Yaş",y:103.7},
                  {x:"5 Yaş",y:106.8}],
                  
                  
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%25',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:49.9},
                  {x:"3 Ay",y:61.4},
                  {x:"6 Ay",y:67.6},
                  {x:"9 Ay",y:72.0},
                  {x:"12 Ay",y:75.7},
                  {x:"15 Ay",y:79.1},
                  {x:"18 Ay",y:82.3},
                  {x:"2 Yaş",y:87.1},
                  {x:"2,5 Yaş",y:91.9},
                  {x:"3 Yaş",y:96.1},
                  {x:"3,5 Yaş",y:99.9},
                  {x:"4 Yaş",y:103.3},
                  {x:"4,5 Yaş",y:106.7},
                  {x:"5 Yaş",y:110.0}],                  
                  
                  
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,        
                  fill: false,
                  label: '%50',
                  borderWidth: 3
              },
              {
                  data: [
                  {x:"Doğum",y:51.2},
                  {x:"3 Ay",y:62.8},
                  {x:"6 Ay",y:69.1},
                  {x:"9 Ay",y:73.5},
                  {x:"12 Ay",y:77.4},
                  {x:"15 Ay",y:80.9},
                  {x:"18 Ay",y:84.1},
                  {x:"2 Yaş",y:89.2},
                  {x:"2,5 Yaş",y:94.2},
                  {x:"3 Yaş",y:98.6},
                  {x:"3,5 Yaş",y:102.5},
                  {x:"4 Yaş",y:106.2},
                  {x:"4,5 Yaş",y:109.6},
                  {x:"5 Yaş",y:113.1}],                 
                 
                 
                 
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%75',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                data: [
                  {x:"Doğum",y:51.8},
                  {x:"3 Ay",y:63.5},
                  {x:"6 Ay",y:69.8},
                  {x:"9 Ay",y:74.3},
                  {x:"12 Ay",y:78.2},
                  {x:"15 Ay",y:81.8},
                  {x:"18 Ay",y:85.1},
                  {x:"2 Yaş",y:90.3},
                  {x:"2,5 Yaş",y:95.5},
                  {x:"3 Yaş",y:99.9},
                  {x:"3,5 Yaş",y:104.0},
                  {x:"4 Yaş",y:107.7},
                  {x:"4,5 Yaş",y:111.2},
                  {x:"5 Yaş",y:114.8}],                    
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%85',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                 data: [
                  {x:"Doğum",y:53.4},
                  {x:"3 Ay",y:65.3},
                  {x:"6 Ay",y:71.6},
                  {x:"9 Ay",y:76.2},
                  {x:"12 Ay",y:80.2},
                  {x:"15 Ay",y:83.9},
                  {x:"18 Ay",y:87.3},
                  {x:"2 Yaş",y:92.9},
                  {x:"2,5 Yaş",y:98.3},
                  {x:"3 Yaş",y:103.1},
                  {x:"3,5 Yaş",y:107.3},
                  {x:"4 Yaş",y:111.2},
                  {x:"4,5 Yaş",y:115.0},
                  {x:"5 Yaş",y:118.7}],                  
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%97',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                data: [{x: x, y: y}],
                label: '',
                pointBackgroundColor: "#c93a7b",
                pointBorderWidth: 10,
                pointBorderColor: "#c93a7b"
              }]
          },
          options: {
              legend: {
                display: false,
                position: 'right',
                align: 'center',
                reverse: true,
                labels: {
                  boxWidth: 0
                }
              },
              scales: {
                yAxes: [{
                  ticks: { max: 140}
                }]
              },
              layout: {
              padding: {
                left: 0,
                right: 60,
                top: 20,
                bottom: 0
              }
            }
          }
      });

}

function getChartBoyKiz(x,y){

var ctx = document.getElementById('myChartBoy');
const chartBoy = new Chart(ctx, {
          type: 'line',
          fill: false,
          data: {
              labels: ['Doğum', '3 Ay', '6 Ay', '9 Ay', '12 Ay', '15 Ay', '18 Ay', "2 Yaş", "2,5 Yaş", "3 Yaş", "3,5 Yaş", "4 Yaş", "4,5 Yaş", "5 Yaş"],
              datasets: [{
                 
                  data: [
                  {x:"Doğum",y:45.6},
                  {x:"3 Ay",y:55.8},
                  {x:"6 Ay",y:61.5},
                  {x:"9 Ay",y:65.6},
                  {x:"12 Ay",y:69.2},
                  {x:"15 Ay",y:72.4},
                  {x:"18 Ay",y:75.2},
                  {x:"2 Yaş",y:80.3},
                  {x:"2,5 Yaş",y:84.0},
                  {x:"3 Yaş",y:87.9},
                  {x:"3,5 Yaş",y:91.4},
                  {x:"4 Yaş",y:94.6},
                  {x:"4,5 Yaş",y:97.6},
                  {x:"5 Yaş",y:100.5}],                 
                 
                 
                 
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%3',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:47.2},
                  {x:"3 Ay",y:57.6},
                  {x:"6 Ay",y:63.4},
                  {x:"9 Ay",y:67.6},
                  {x:"12 Ay",y:71.3},
                  {x:"15 Ay",y:74.7},
                  {x:"18 Ay",y:77.7},
                  {x:"2 Yaş",y:83.1},
                  {x:"2,5 Yaş",y:87.0},
                  {x:"3 Yaş",y:91.1},
                  {x:"3,5 Yaş",y:94.8},
                  {x:"4 Yaş",y:98.3},
                  {x:"4,5 Yaş",y:101.5},
                  {x:"5 Yaş",y:104.5}],                    
                 
                 
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%15',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:47.9},
                  {x:"3 Ay",y:58.4},
                  {x:"6 Ay",y:64.2},
                  {x:"9 Ay",y:68.5},
                  {x:"12 Ay",y:72.3},
                  {x:"15 Ay",y:75.5},
                  {x:"18 Ay",y:78.7},
                  {x:"2 Yaş",y:84.2},
                  {x:"2,5 Yaş",y:88.3},
                  {x:"3 Yaş",y:92.5},
                  {x:"3,5 Yaş",y:96.3},
                  {x:"4 Yaş",y:99.8},
                  {x:"4,5 Yaş",y:103.1},
                  {x:"5 Yaş",y:106.2}],                    
                 
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%25',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:49.1},
                  {x:"3 Ay",y:59.8},
                  {x:"6 Ay",y:65.7},
                  {x:"9 Ay",y:70.1},
                  {x:"12 Ay",y:74.0},
                  {x:"15 Ay",y:77.5},
                  {x:"18 Ay",y:80.7},
                  {x:"2 Yaş",y:86.4},
                  {x:"2,5 Yaş",y:90.7},
                  {x:"3 Yaş",y:95.1},
                  {x:"3,5 Yaş",y:99.0},
                  {x:"4 Yaş",y:102.7},
                  {x:"4,5 Yaş",y:106.2},
                  {x:"5 Yaş",y:109.4}],                     
                  
                  
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,        
                  fill: false,
                  label: '%50',
                  borderWidth: 3
              },
              {
                  data: [
                  {x:"Doğum",y:50.4},
                  {x:"3 Ay",y:61.2},
                  {x:"6 Ay",y:67.3},
                  {x:"9 Ay",y:71.8},
                  {x:"12 Ay",y:75.8},
                  {x:"15 Ay",y:79.4},
                  {x:"18 Ay",y:82.7},
                  {x:"2 Yaş",y:88.6},
                  {x:"2,5 Yaş",y:93.1},
                  {x:"3 Yaş",y:97.6},
                  {x:"3,5 Yaş",y:101.8},
                  {x:"4 Yaş",y:105.6},
                  {x:"4,5 Yaş",y:109.2},
                  {x:"5 Yaş",y:112.6}],                    
                 
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%75',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:51.1},
                  {x:"3 Ay",y:62.0},
                  {x:"6 Ay",y:68.1},
                  {x:"9 Ay",y:72.6},
                  {x:"12 Ay",y:76.7},
                  {x:"15 Ay",y:80.3},
                  {x:"18 Ay",y:83.7},
                  {x:"2 Yaş",y:89.8},
                  {x:"2,5 Yaş",y:94.3},
                  {x:"3 Yaş",y:99.0},
                  {x:"3,5 Yaş",y:103.3},
                  {x:"4 Yaş",y:107.2},
                  {x:"4,5 Yaş",y:110.9},
                  {x:"5 Yaş",y:114.4}],                    
                 
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%85',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:52.7},
                  {x:"3 Ay",y:63.8},
                  {x:"6 Ay",y:70.0},
                  {x:"9 Ay",y:74.7},
                  {x:"12 Ay",y:78.9},
                  {x:"15 Ay",y:82.7},
                  {x:"18 Ay",y:86.2},
                  {x:"2 Yaş",y:92.5},
                  {x:"2,5 Yaş",y:97.3},
                  {x:"3 Yaş",y:102.2},
                  {x:"3,5 Yaş",y:106.7},
                  {x:"4 Yaş",y:110.8},
                  {x:"4,5 Yaş",y:114.7},
                  {x:"5 Yaş",y:118.4}],                
               
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%97',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                data: [{x: x, y: y}],
                label: '',
                pointBackgroundColor: "#c93a7b",
                pointBorderWidth: 10,
                pointBorderColor: "#c93a7b"
              }]
          },
          options: {
              legend: {
                display: false,
                position: 'right',
                align: 'center',
                reverse: true,
                labels: {
                  boxWidth: 0
                }
              },
              scales: {
                yAxes: [{
                  ticks: { max: 140}
                }]
              },
              layout: {
              padding: {
                left: 0,
                right: 60,
                top: 20,
                bottom: 0
              }
            }
          }
      });

}

function getChartKiloErkek(x,y){

      var CtxKilo = document.getElementById('myChartKilo');
      const chartKilo = new Chart(CtxKilo, {
          type: 'line',
          fill: false,
          data: {
              labels: ['Doğum', '3 Ay', '6 Ay', '9 Ay', '12 Ay', '15 Ay', '18 Ay', "2 Yaş", "2,5 Yaş", "3 Yaş", "3,5 Yaş", "4 Yaş", "4,5 Yaş", "5 Yaş"],
              datasets: [{

                  data: [
                  {x:"Doğum",y:2.5},
                  {x:"3 Ay",y:5.1},
                  {x:"6 Ay",y:6.4},
                  {x:"9 Ay",y:7.2},
                  {x:"12 Ay",y:7.8},
                  {x:"15 Ay",y:8.4},
                  {x:"18 Ay",y:8.9},
                  {x:"2 Yaş",y:9.8},
                  {x:"2,5 Yaş",y:10.7},
                  {x:"3 Yaş",y:11.4},
                  {x:"3,5 Yaş",y:12.2},
                  {x:"4 Yaş",y:12.9},
                  {x:"4,5 Yaş",y:13.6},
                  {x:"5 Yaş",y:14.3}],
                
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%3',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                 
                  data: [
                  {x:"Doğum",y:2.9},
                  {x:"3 Ay",y:5.6},
                  {x:"6 Ay",y:7.1},
                  {x:"9 Ay",y:7.9},
                  {x:"12 Ay",y:8.6},
                  {x:"15 Ay",y:9.2},
                  {x:"18 Ay",y:9.7},
                  {x:"2 Yaş",y:10.8},
                  {x:"2,5 Yaş",y:11.8},
                  {x:"3 Yaş",y:12.7},
                  {x:"3,5 Yaş",y:13.5},
                  {x:"4 Yaş",y:14.3},
                  {x:"4,5 Yaş",y:15.2},
                  {x:"5 Yaş",y:16.0}],                 
                 
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%15',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:3.0},
                  {x:"3 Ay",y:5.9},
                  {x:"6 Ay",y:7.4},
                  {x:"9 Ay",y:8.3},
                  {x:"12 Ay",y:9.0},
                  {x:"15 Ay",y:9.6},
                  {x:"18 Ay",y:10.1},
                  {x:"2 Yaş",y:11.3},
                  {x:"2,5 Yaş",y:12.3},
                  {x:"3 Yaş",y:13.2},
                  {x:"3,5 Yaş",y:14.1},
                  {x:"4 Yaş",y:15.0},
                  {x:"4,5 Yaş",y:15.9},
                  {x:"5 Yaş",y:16.7}],                      
                  
                  
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%25',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:3.3},
                  {x:"3 Ay",y:6.4},
                  {x:"6 Ay",y:7.9},
                  {x:"9 Ay",y:8.9},
                  {x:"12 Ay",y:9.6},
                  {x:"15 Ay",y:10.3},
                  {x:"18 Ay",y:10.9},
                  {x:"2 Yaş",y:12.2},
                  {x:"2,5 Yaş",y:13.3},
                  {x:"3 Yaş",y:14.3},
                  {x:"3,5 Yaş",y:15.3},
                  {x:"4 Yaş",y:16.3},
                  {x:"4,5 Yaş",y:17.3},
                  {x:"5 Yaş",y:18.3}],                                      
                  
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%50',
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:3.7},
                  {x:"3 Ay",y:6.9},
                  {x:"6 Ay",y:8.5},
                  {x:"9 Ay",y:9.6},
                  {x:"12 Ay",y:10.4},
                  {x:"15 Ay",y:11.1},
                  {x:"18 Ay",y:11.8},
                  {x:"2 Yaş",y:13.1},
                  {x:"2,5 Yaş",y:14.4},
                  {x:"3 Yaş",y:15.6},
                  {x:"3,5 Yaş",y:16.7},
                  {x:"4 Yaş",y:17.8},
                  {x:"4,5 Yaş",y:19.0},
                  {x:"5 Yaş",y:20.1}],                    
               
               
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%75',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:3.9},
                  {x:"3 Ay",y:7.2},
                  {x:"6 Ay",y:8.9},
                  {x:"9 Ay",y:10.0},
                  {x:"12 Ay",y:10.8},
                  {x:"15 Ay",y:11.6},
                  {x:"18 Ay",y:12.3},
                  {x:"2 Yaş",y:13.7},
                  {x:"2,5 Yaş",y:15.0},
                  {x:"3 Yaş",y:16.3},
                  {x:"3,5 Yaş",y:17.5},
                  {x:"4 Yaş",y:18.7},
                  {x:"4,5 Yaş",y:19.9},
                  {x:"5 Yaş",y:21.1}],                      
                 
                 
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%85',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:4.3},
                  {x:"3 Ay",y:7.9},
                  {x:"6 Ay",y:9.7},
                  {x:"9 Ay",y:10.9},
                  {x:"12 Ay",y:11.8},
                  {x:"15 Ay",y:12.7},
                  {x:"18 Ay",y:13.5},
                  {x:"2 Yaş",y:15.1},
                  {x:"2,5 Yaş",y:16.6},
                  {x:"3 Yaş",y:18.0},
                  {x:"3,5 Yaş",y:19.4},
                  {x:"4 Yaş",y:20.9},
                  {x:"4,5 Yaş",y:22.3},
                  {x:"5 Yaş",y:23.8}],                        
                  
                  
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%97',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                data: [{x: x, y: y}],
                label: '',
                pointBackgroundColor: "#c93a7b",
                pointBorderWidth: 10,
                pointBorderColor: "#c93a7b"
              }]
          },
          options: {
              legend: {
                display: false,
                position: 'right',
                align: 'center',
                reverse: true,
                labels: {
                  boxWidth: 0
                }
              },
              scales: {
                yAxes: [{
                  ticks: { max: 25 }
                }]
              },
              layout: {
              padding: {
                left: 0,
                right: 60,
                top: 20,
                bottom: 0
              }
            }
          }
      });



}

function getChartKiloKiz(x,y){

      var CtxKilo = document.getElementById('myChartKilo');
      const chartKilo = new Chart(CtxKilo, {
          type: 'line',
          fill: false,
          data: {
              labels: ['Doğum', '3 Ay', '6 Ay', '9 Ay', '12 Ay', '15 Ay', '18 Ay', "2 Yaş", "2,5 Yaş", "3 Yaş", "3,5 Yaş", "4 Yaş", "4,5 Yaş", "5 Yaş"],
              datasets: [{
                 
                  data: [
                  {x:"Doğum",y:2.4},
                  {x:"3 Ay",y:4.6},
                  {x:"6 Ay",y:5.8},
                  {x:"9 Ay",y:6.6},
                  {x:"12 Ay",y:7.1},
                  {x:"15 Ay",y:7.7},
                  {x:"18 Ay",y:8.2},
                  {x:"2 Yaş",y:9.2},
                  {x:"2,5 Yaş",y:10.1},
                  {x:"3 Yaş",y:11.1},
                  {x:"3,5 Yaş",y:11.8},
                  {x:"4 Yaş",y:12.5},
                  {x:"4,5 Yaş",y:13.2},
                  {x:"5 Yaş",y:14.0}],                 
                 
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%3',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:2.8},
                  {x:"3 Ay",y:5.1},
                  {x:"6 Ay",y:6.4},
                  {x:"9 Ay",y:7.3},
                  {x:"12 Ay",y:7.9},
                  {x:"15 Ay",y:8.5},
                  {x:"18 Ay",y:9.0},
                  {x:"2 Yaş",y:10.1},
                  {x:"2,5 Yaş",y:11.2},
                  {x:"3 Yaş",y:12.1},
                  {x:"3,5 Yaş",y:13.1},
                  {x:"4 Yaş",y:14.0},
                  {x:"4,5 Yaş",y:14.8},
                  {x:"5 Yaş",y:15.7}],                  
                 
                 
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%15',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:2.9},
                  {x:"3 Ay",y:5.4},
                  {x:"6 Ay",y:6.7},
                  {x:"9 Ay",y:7.6},
                  {x:"12 Ay",y:8.2},
                  {x:"15 Ay",y:8.8},
                  {x:"18 Ay",y:9.4},
                  {x:"2 Yaş",y:10.6},
                  {x:"2,5 Yaş",y:11.7},
                  {x:"3 Yaş",y:12.7},
                  {x:"3,5 Yaş",y:13.7},
                  {x:"4 Yaş",y:14.7},
                  {x:"4,5 Yaş",y:15.6},
                  {x:"5 Yaş",y:16.5}],                      
                  
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%25',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:3.2},
                  {x:"3 Ay",y:5.8},
                  {x:"6 Ay",y:7.3},
                  {x:"9 Ay",y:8.2},
                  {x:"12 Ay",y:8.9},
                  {x:"15 Ay",y:9.6},
                  {x:"18 Ay",y:10.2},
                  {x:"2 Yaş",y:11.5},
                  {x:"2,5 Yaş",y:12.7},
                  {x:"3 Yaş",y:13.9},
                  {x:"3,5 Yaş",y:15.0},
                  {x:"4 Yaş",y:16.1},
                  {x:"4,5 Yaş",y:17.2},
                  {x:"5 Yaş",y:18.2}],    

                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%50',
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:3.6},
                  {x:"3 Ay",y:6.4},
                  {x:"6 Ay",y:7.9},
                  {x:"9 Ay",y:8.9},
                  {x:"12 Ay",y:9.7},
                  {x:"15 Ay",y:10.4},
                  {x:"18 Ay",y:11.1},
                  {x:"2 Yaş",y:12.5},
                  {x:"2,5 Yaş",y:13.8},
                  {x:"3 Yaş",y:15.1},
                  {x:"3,5 Yaş",y:16.4},
                  {x:"4 Yaş",y:17.7},
                  {x:"4,5 Yaş",y:18.9},
                  {x:"5 Yaş",y:20.2}],                      
                  
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%75',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:3.7},
                  {x:"3 Ay",y:6.7},
                  {x:"6 Ay",y:8.3},
                  {x:"9 Ay",y:9.3},
                  {x:"12 Ay",y:10.2},
                  {x:"15 Ay",y:10.9},
                  {x:"18 Ay",y:11.6},
                  {x:"2 Yaş",y:13.1},
                  {x:"2,5 Yaş",y:14.5},
                  {x:"3 Yaş",y:15.9},
                  {x:"3,5 Yaş",y:17.3},
                  {x:"4 Yaş",y:18.6},
                  {x:"4,5 Yaş",y:20.0},
                  {x:"5 Yaş",y:21.3}],                     
                  
                  
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%85',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [
                  {x:"Doğum",y:4.2},
                  {x:"3 Ay",y:7.4},
                  {x:"6 Ay",y:9.2},
                  {x:"9 Ay",y:10.4},
                  {x:"12 Ay",y:11.3},
                  {x:"15 Ay",y:12.2},
                  {x:"18 Ay",y:13.0},
                  {x:"2 Yaş",y:14.6},
                  {x:"2,5 Yaş",y:16.2},
                  {x:"3 Yaş",y:17.8},
                  {x:"3,5 Yaş",y:19.5},
                  {x:"4 Yaş",y:21.1},
                  {x:"4,5 Yaş",y:22.8},
                  {x:"5 Yaş",y:24.4}],                       
                 
                 
                 
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%97',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                data: [{x: x, y: y}],
                label: '',
                pointBackgroundColor: "#c93a7b",
                pointBorderWidth: 10,
                pointBorderColor: "#c93a7b"
              }]
          },
          options: {
              legend: {
                display: false,
                position: 'right',
                align: 'center',
                reverse: true,
                labels: {
                  boxWidth: 0
                }
              },
              scales: {
                yAxes: [{
                  ticks: { max: 25 }
                }]
              },
              layout: {
              padding: {
                left: 0,
                right: 60,
                top: 20,
                bottom: 0
              }
            }
          }
      });

}

function hesaplaPers(){

   {{!-- verileri alma alani  --}}

   let cinsiyet;

  let boyAlinan= document.getElementById("boy").value
  let kiloAlinan= document.getElementById("kilo").value
  let yasAlinan= document.getElementById("dogumtarihi").value


  if (document.getElementById('erkekRadio').checked) {
  cinsiyet = document.getElementById('erkekRadio').value;
  } else {
    cinsiyet = document.getElementById('kizRadio').value;
  }
  // Tarih hesaplama alani //

  let simdi = new Date();

  let simdikiYil = simdi.getYear();
  let simdikiAy = simdi.getMonth();
  let simdikiGun = simdi.getDate();

  let dogum = new Date(yasAlinan);

  let dogumYil = dogum.getYear();
  let dogumAy = dogum.getMonth();
  let dogumGun = dogum.getDate();

  let yasSonuc = {};

    yasYili = simdikiYil - dogumYil;

  if(simdikiAy >= dogumAy){

    var yasAyi = simdikiAy - dogumAy;

  }else{

    var yasAyi = 12 + simdikiAy -dogumAy;
    yasYili--;
  }

  if (simdikiGun >= dogumGun){
    var yasGunu = simdikiGun - dogumGun;
  }else {

    var yasGunu = 31 + simdikiGun - dogumGun;
     yasAyi--;

    if (yasAyi < 0) {
      yasAyi = 11;
      yasYili--;
    }
  }

  yasSonuc = {
    yil: yasYili,
    ay: yasAyi,
    gun: yasGunu
  };


  let yasSonucGGAAYYY;

  if(yasSonuc.yil === 0){
    yasSonucGGAAYYY = yasSonuc.ay + ' Ay ' + yasSonuc.gun + ' Gün';
  }else{
    yasSonucGGAAYYY = yasSonuc.yil+ ' Yıl ' + yasSonuc.ay + ' Ay ' + yasSonuc.gun + ' Gün';
  }


// DATA ALANI// 
      const dataBoyErkek = [

        [46.3,  57.6,	63.6,	67.7,	71.3,	74.4,	77.2,	81.4, 85.5,	89.1,	 92.4,	95.4,	 98.4,	101.2],
        [47.9,	59.3,	65.4,	69.6,	73.3,	76.5,	79.5,	83.9,	88.4,	92.2,	 95.7,	99.0,	 102.1, 105.2],
        [48.6,	60.1,	66.2,	70.5,	74.1,	77.4,	80.4,	85.1, 89.6,	93.6,	 97.2,	100.5, 103.7, 106.8],
        [49.9,	61.4,	67.6,	72.0,	75.7,	79.1,	82.3,	87.1, 91.9,	96.1,	 99.9,	103.3, 106.7,	110.0],
        [51.2,	62.8,	69.1,	73.5,	77.4,	80.9,	84.1,	89.2, 94.2,	98.6,	 102.5, 106.2, 109.6,	113.1],
        [51.8,	63.5,	69.8,	74.3,	78.2,	81.8,	85.1,	90.3, 95.5,	99.9,  104.0,	107.7, 111.2,	114.8],      
        [53.4,	65.3,	71.6,	76.2,	80.2,	83.9,	87.3,	92.9, 98.3,	103.1, 107.3, 111.2, 115.0,	118.7]];


      const dataBoyKiz = [
        [45.6,  55.8,	61.5,	65.6,	69.2,	72.4,	75.2,	80.3, 84.0,	87.9,	 91.4,	94.6,	 97.6,	100.5],
        [47.2,	57.6,	63.4,	67.6,	71.3,	74.7,	77.7,	83.1,	87.0,	91.1,	 94.8,	98.3,	 101.5, 104.5],
        [47.9,	58.4,	64.2,	68.5,	72.3,	75.5,	78.7,	84.2, 88.3,	92.5,	 96.3,	99.8,	 103.1, 106.2],
        [49.1,	59.8,	65.7,	70.1,	74.0,	77.5,	80.7,	86.4, 90.7,	95.1,	 99.0,	102.7, 106.2,	109.4],
        [50.4,	61.2,	67.3,	71.8,	75.8,	79.4,	82.7,	88.6, 93.1,	97.6,	 101.8, 105.6, 109.2,	112.6],
        [51.1,	62.0,	68.1,	72.6,	76.7,	80.3,	83.7,	89.8, 94.3,	99.0,  103.3,	107.2, 110.9,	114.4],      
        [52.7,	63.8,	70.0,	74.7,	78.9,	82.7,	86.2,	92.5, 97.3,	102.2, 106.7, 110.8, 114.7,	118.4]];



      const dataKiloErkek = [
      
      [2.5, 5.1,  6.4,  7.2,  7.8,  8.4,  8.9,  9.8,  10.7, 11.4, 12.2, 12.9, 13.6, 14.3],
      [2.9, 5.6,  7.1,  7.9,  8.6,  9.2,  9.7,  10.8, 11.8, 12.7, 15.5, 14.3, 15.2, 16.0],
      [3.0, 5.9,  7.4,  8.3,  9.0,  9.6,  10.1, 11.3, 12.3, 13.2, 14.1, 15.0, 15.9, 16.7],
      [3.3, 6.4,  7.9,  8.9,  9.6,  10.3, 10.9, 12.2, 13.3, 14.3, 15.3, 16.3, 17.3, 18.3],
      [3.7, 6,9,  8.5,  9.6,  10.4, 11.1, 11.8, 13.1, 14.4, 15.6, 16.7, 17.8, 19.0, 20.1],
      [3.9, 7.2,  8.9,  10.0, 10.8, 11.6, 12.3, 13.7, 15.0, 16.3, 17.5, 18.7, 19.9, 21.1],
      [4.3, 7.9,  9.7,  10.9, 11.8, 12.7, 13.5, 15.1, 16.6, 18.0, 19.4, 20.9, 22.3, 23.8]];
      
      
      
      const dataKiloKiz = [
      [2.4, 4.6,  5.8,  6.6,  7.1,  7.7,  8.2,  9.2,  10.1, 11.1, 11.8, 12.5, 13.2, 14.0],
      [2.8, 5.1,  6.4,  7.3,  7.9,  8.5,  9.0,  10.1, 11.2, 12.1, 13.1, 14.0, 14.8, 15.7],
      [2.9, 5.4,  6.7,  7.6,  8.2,  8.8,  9.4,  10.6, 11.7, 12.7, 13.7, 14.7, 15.6, 16.5],
      [3.2, 5.8,  7.3,  8.2,  8.9,  9.6,  10.2, 11.5, 12.7, 13.9, 15.0, 16.1, 17.2, 18.2],
      [3.6, 6,4,  7.9,  8.9,  9.7,  10.4, 11.1, 12.5, 13.8, 15.1, 16.4, 17.7, 18.9, 20.2],
      [3.7, 6.7,  8.3,  9.3,  10.2, 10.9, 11.6, 13.1, 14.5, 15.9, 17.3, 18.6, 20.0, 21.3],
      [4.2, 7.4,  9.2,  10.4, 11.3, 12.2, 13.0, 14.6, 16.2, 17.8, 19.5, 21.1, 22.8, 24.4]];
      
     
          let chartResultYas = {
            key: 0,
            value: 0
          };


          if(yasSonuc.ay < 2 && yasSonuc.yil < 1){
              chartResultYas.key = 0;
              chartResultYas.value = "Doğum";
          }else if(yasSonuc.ay < 5 && yasSonuc.yil < 1){
              chartResultYas.key = 1;
              chartResultYas.value = "3 Ay";
          }else if(yasSonuc.ay < 8 && yasSonuc.yil < 1){
              chartResultYas.key = 2;
              chartResultYas.value = "6 Ay";
          }else if(yasSonuc.ay < 11 && yasSonuc.yil < 1){
              chartResultYas.key = 3;
              chartResultYas.value = "9 Ay";
          }else if(yasSonuc.ay < 12 && yasSonuc.yil < 1 || yasSonuc.ay < 2 && yasSonuc.yil < 2){
              chartResultYas.key = 4;
              chartResultYas.value = "12 Ay";
          }else if(yasSonuc.ay < 5 && yasSonuc.yil < 2){
              chartResultYas.key = 5;
              chartResultYas.value = "15 Ay";
          }else if(yasSonuc.ay < 9 && yasSonuc.yil < 2){
              chartResultYas.key = 6;
              chartResultYas.value = "18 Ay";
          }else if(yasSonuc.ay < 12 && yasSonuc.yil < 2 || yasSonuc.ay < 4 && yasSonuc.yil < 3){
              chartResultYas.key = 7;
              chartResultYas.value = "2 Yaş";
          }else if(yasSonuc.ay < 10 && yasSonuc.yil < 3){
              chartResultYas.key = 8;
              chartResultYas.value = "2,5 Yaş";
          }else if(yasSonuc.ay < 12 && yasSonuc.yil < 3 || yasSonuc.ay < 4 && yasSonuc.yil < 4){
              chartResultYas.key = 9;
              chartResultYas.value = "3 Yaş";
          }else if(yasSonuc.ay < 10 && yasSonuc.yil < 4){
              chartResultYas.key = 10;
              chartResultYas.value = "3,5 Yaş";
          }else if(yasSonuc.ay < 12 && yasSonuc.yil < 4 || yasSonuc.ay < 4 && yasSonuc.yil < 5){
              chartResultYas.key = 11;
              chartResultYas.value = "4 Yaş";
          }else if(yasSonuc.ay < 10 && yasSonuc.yil < 5){
              chartResultYas.key = 12;
              chartResultYas.value = "4,5 Yaş";
          }else if(yasSonuc.ay < 12 && yasSonuc.yil < 5 || yasSonuc.ay < 4 && yasSonuc.yil < 6){
              chartResultYas.key = 13;
              chartResultYas.value = "5 Yaş";
          }

          
  var sonucOrtalamaBoy; 
  var sonucOrtalamaKilo;


  let period= chartResultYas.value;
  let degerBoy= boyAlinan;
  let degerKilo= kiloAlinan;  

  if (cinsiyet=="Erkek"){
    sonucOrtalamaBoy= dataBoyErkek[3][chartResultYas.key];
    sonucOrtalamaKilo= dataKiloErkek[3][chartResultYas.key];
    getChartBoyErkek(period,degerBoy);
    getChartKiloErkek(period,degerKilo)

    if (boyAlinan>=dataBoyErkek[2][chartResultYas.key] && boyAlinan<=dataBoyErkek[4][chartResultYas.key]){
      mesajBoy='Oğlunuz ideal boydadır.'
    }
    else if(boyAlinan>=dataBoyErkek[0][chartResultYas.key] && boyAlinan<dataBoyErkek[2][chartResultYas.key]){
      mesajBoy=(`Oğlunuz ortalama boy değerinin ${(sonucOrtalamaBoy-boyAlinan).toFixed(1)} cm altındadır.`)
    }
    
    else if(boyAlinan<dataBoyErkek[0][chartResultYas.key]){
      mesajBoy='Oğlunuz ortalama boy değerlerin altındadır.'
    }
    else if(boyAlinan>dataBoyErkek[4][chartResultYas.key] && boyAlinan<=dataBoyErkek[6][chartResultYas.key]){
      mesajBoy=(`Oğlunuz ortalama boy değerinin ${(boyAlinan-sonucOrtalamaBoy).toFixed(1)} cm üstündedir.`)
    }
    else if(boyAlinan>dataBoyErkek[6][chartResultYas.key]){
      mesajBoy='Oğlunuz ortalama boy değerlerin üzerindedir.'
    }


    // Erkek Kilo ALanı

    if (kiloAlinan>=dataKiloErkek[2][chartResultYas.key] && kiloAlinan<=dataKiloErkek[4][chartResultYas.key]){
      mesajKilo='Ayrıca ideal kilodadır.'
    }
    else if(kiloAlinan>=dataKiloErkek[0][chartResultYas.key] && kiloAlinan<dataKiloErkek[2][chartResultYas.key]){
      mesajKilo=(`Ayrıca ortalama boy değerinin ${(sonucOrtalamaBoy-kiloAlinan).toFixed(1)} kg altındadır.Beslenmesine dikkat etmelisiniz.`)
    }
    
    else if(kiloAlinan<dataKiloErkek[0][chartResultYas.key]){
      mesajKilo='Ayrıca ortalama kilo değerlerin altındadır. Mutlaka bir çocuk doktoru ile görüşmelisiniz.'
    }
    else if(kiloAlinan>dataKiloErkek[4][chartResultYas.key] && kiloAlinan<=dataKiloErkek[6][chartResultYas.key]){
      mesajKilo=(`Ayrıca ortalama boy değerinin ${(kiloAlinan-sonucOrtalamaBoy).toFixed(1)} kg üstündedir.Beslenmesine dikkat etmelisiniz.`)
    }
    else if(kiloAlinan>dataKiloErkek[6][chartResultYas.key]){
      mesajKilo='Ayrıca ortalama kilo değerlerin üzerindedir. Mutlaka bir çocuk doktoru ile görüşmelisiniz.'
    }
  } else{

    sonucOrtalamaBoy= dataBoyKiz[3][chartResultYas.key];
    sonucOrtalamaKilo= dataKiloKiz[3][chartResultYas.key];
    getChartBoyKiz(period,degerBoy);
    getChartKiloKiz(period,degerKilo);


    //BOY MESAJ OLUSTURMA ALANI
    if (boyAlinan>=dataBoyKiz[2][chartResultYas.key] && boyAlinan<=dataBoyKiz[4][chartResultYas.key]){
      mesajBoy='Kızınız ideal boydadır.'
    }
    else if(boyAlinan>=dataBoyKiz[0][chartResultYas.key] && boyAlinan<dataBoyKiz[2][chartResultYas.key]){
      mesajBoy=(`Kızınız ortalama boy değerinin ${(sonucOrtalamaBoy-boyAlinan).toFixed(1)} cm altındadır.`)
    }
    
    else if(boyAlinan<dataBoyKiz[0][chartResultYas.key]){
      mesajBoy='Kızınız ortalama boy değerlerin altındadır.'
    }
    else if(boyAlinan>dataBoyKiz[4][chartResultYas.key] && boyAlinan<=dataBoyKiz[6][chartResultYas.key]){
      mesajBoy=(`Kızınız ortalama boy değerinin ${(boyAlinan-sonucOrtalamaBoy).toFixed(1)} cm üstündedir. `)
    }
    else if(boyAlinan>dataBoyKiz[6][chartResultYas.key]){
      mesajBoy='Kızınız ortalama boy değerlerin üzerindedir.'
    }
    // KİLO NESAJ ALANI

        if (kiloAlinan>=dataKiloKiz[2][chartResultYas.key] && kiloAlinan<=dataKiloKiz[4][chartResultYas.key]){
      mesajKilo='Ayrıca ideal kilodadır.'
    }
    else if(kiloAlinan>=dataKiloKiz[0][chartResultYas.key] && kiloAlinan<dataKiloKiz[2][chartResultYas.key]){
      mesajKilo=(`Ayrıca ortalama boy değerinin ${(sonucOrtalamaBoy-kiloAlinan).toFixed(1)} kg altındadır.Beslenmesine dikkat etmelisiniz.`)
    }
    
    else if(kiloAlinan<dataKiloKiz[0][chartResultYas.key]){
      mesajKilo='Ayrıca ortalama kilo değerlerin altındadır. Mutlaka bir çocuk doktoru ile görüşmelisiniz.'
    }
    else if(kiloAlinan>dataKiloKiz[4][chartResultYas.key] && kiloAlinan<=dataKiloKiz[6][chartResultYas.key]){
      mesajKilo=(`Ayrıca ortalama kilo değerinin ${(kiloAlinan-sonucOrtalamaKilo).toFixed(1)} kg üstündedir.Beslenmesine dikkat etmelisiniz.`)
    }
    else if(kiloAlinan>dataKiloKiz[6][chartResultYas.key]){
      mesajKilo='Ayrıca ortalama kilo değerlerin üzerindedir. Mutlaka bir çocuk doktoru ile görüşmelisiniz.'
    }
  }

  document.getElementById("resultBoy").innerText= boyAlinan
  document.getElementById("resultKilo").innerText= kiloAlinan
  document.getElementById("resultCinsiyet").innerText= cinsiyet
  document.getElementById("resultCinsiyetPragraph").innerText= cinsiyet
  document.getElementById("resultDogumTarihi").innerText=yasSonucGGAAYYY
  document.getElementById("resultBoyOrtalama").innerHTML=sonucOrtalamaBoy
  document.getElementById("resultKiloOrtalama").innerHTML=sonucOrtalamaKilo

 }

</script>
<script src=""></script>
   

