
  <div class="container">
    <div class="title">Persentil Hesaplama</div>
    <div class="content">
      <form >
        <div class="user-details">
          <div class="input-box">
            <span class="details">Doğum Tarihi</span>
            <input type="date" id="dogumtarihi" placeholder="14.04.2021" required>
          </div>
          <div class="input-box">
            <span class="details">Boyu</span>
            <input type="number" name="boy" id="boy" step=0.01 placeholder="72 cm" required>
          </div>
          <div class="input-box">
            <span class="details">Kilosu</span>
            <input type="number" id="kilo" placeholder="11 kg" required>
          </div>
          <div class="input-box">
            <span class="details">Baş Çevresi(Zorunlu değil)</span>
            <input type="text" id="x"  placeholder="25 cm" >
          </div>
    
        </div>
        <div class="gender-details">
          <input type="radio" value="Erkek" name="gender" id="erkekRadio">
          <input type="radio" value="Kız" name="gender" id="kizRadio">

          <span class="gender-title">Cinsiyet</span>
          <div class="category">
            <label for="erkekRadio">
            <span class="dot one"></span>
            <span class="gender">Erkek</span>
          </label>
          <label for="kizRadio">
            <span class="dot two"></span>
            <span class="gender">Kız</span>
          </label>
          </div>
        </div>

        <div class="button">
          <button type="submit" value="Gonder" onclick="hesaplaPers()" id="hesaplaBtn">Gönder</button>
     
        </div>
      </form>
    </div>


    <div class="resultDiv" id="resultDiv" style="display: none;">
      <div class="ResultArea">
        
        <div class="PersentilChartResult">
            <span class="ResultTitle">Boy:</span> <span class="ResultTitleLabelValue" id="resultBoy"></span> <span class="ResultTitle"> cm</span><br>
            <span class="ResultTitle">Kilo:</span> <span class="ResultTitleLabelValue" id="resultKilo"></span><span class="ResultTitle"> kg</span><br>
            <span class="ResultTitle">Cinsiyet:</span> <span class="ResultTitleLabelValue" id="resultCinsiyet"></span><br>
            <span class="ResultTitle">Yaşı :</span> <span class="ResultTitleLabelValue" id="resultDogumTarihi"></span>
                
            <p class="ResultTitlePragraph"> Bu yaştaki <span id="resultCinsiyetPragraph"></span> çocukların ortalama boyu : <span id="resultBoyOrtalama"></span> cm</p>
            <p class="ResultTitlePragraph"> Bu yaştaki <span id="resultCinsiyetPragraph"></span> çocukların ortalama kilosu : <span id="resultKiloOrtalama"></span> kg</p>


            <p class="ResultTitlePragraph" id="ResultMessage"></p>
        </div>
 
      
    </div><br><br>
    <center><h2 id="boyGrafikLabel" >Boy Grafiği</h2></center>
    <div class="boyChartDiv"><canvas id="myChartBoy" width="400" height="400"></canvas></div>
     <center><h2 id="boyGrafikLabel" >Kilo Grafiği</h2></center>
    <div class="coyKiloDiv"><canvas id="myChartKilo" width="400" height="400"></canvas></div>
</div>

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="path/to/chartjs/dist/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" >


var mesajBoy;
var mesajKilo;
let btn= document.querySelector("#hesaplaBtn");


btn.addEventListener("click", function(e){
  fPrevent(e);

  var x = document.getElementById("resultDiv");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }

});

function fPrevent(e){
e.preventDefault()

}


btn.addEventListener('click',hesaplaPers)

btn.addEventListener("click",()=>{

  Swal.fire({
  icon: 'success',
  title: 'Persentil Hesaplandı',
  text: `${mesajBoy}` +  `${mesajKilo} `,
  
  confirmButtonText:
    '<i class="fa fa-thumbs-up"></i> Tamam',
  footer: 'Detaylı bilgi için sonuç ekranına bakınız!'
})

})






function getChartBoyErkek(x,y){

var ctx = document.getElementById('myChartBoy');
const chartBoy = new Chart(ctx, {
          type: 'line',
          fill: false,
          data: {
              labels: ['Doğum', '3 Ay', '6 Ay', '9 Ay', '12 Ay', '15 Ay', '18 Ay', "2 Yaş", "2,5 Yaş", "3 Yaş", "3,5 Yaş", "4 Yaş", "4,5 Yaş", "5 Yaş", "5,5 Yaş", "6 Yaş"],
              datasets: [{
                  data: [{x:"Doğum",y:47.1},{x:"3 Ay",y:54},{x:"6 Ay",y:58},{x:"9 Ay",y:61.5},{x:"12 Ay",y:64.5},{x:"15 Ay",y:68},{x:"18 Ay",y:71},{x:"2 Yaş",y:76.5},{x:"2,5 Yaş",y:81.5},{x:"3 Yaş",y:85.5},{x:"3,5 Yaş",y:89},{x:"4 Yaş",y:92},{x:"4,5 Yaş",y:94.7},{x:"5 Yaş",y:97.5},{x:"5,5 Yaş",y:100.5},{x:"6 Yaş",y:103}],
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%3',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                  data: [{"x":"Doğum",y:47.8},{"x":"3 Ay",y:55.5},{"x":"6 Ay",y:60},{x:"9 Ay",y:64.5},{"x":"12 Ay",y:68},{"x":"15 Ay",y:71.5},{x:"18 Ay",y:75},{x:"2 Yaş",y:80},{x:"2,5 Yaş",y:85},{x:"3 Yaş",y:88.5},{x:"3,5 Yaş",y:92.5},{x:"4 Yaş",y:95.5},{x:"4,5 Yaş",y:98},{x:"5 Yaş",y:101.5},{x:"5,5 Yaş",y:104},{x:"6 Yaş",y:107}],
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%10',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:49},{x:"3 Ay",y:57.5},{x:"6 Ay",y:62},{x:"9 Ay",y:66.5},{x:"12 Ay",y:70},{x:"15 Ay",y:73.5},{x:"18 Ay",y:76.5},{x:"2 Yaş",y:83.5},{x:"2,5 Yaş",y:88},{x:"3 Yaş",y:92},{x:"3,5 Yaş",y:95.5},{x:"4 Yaş",y:98.5},{x:"4,5 Yaş",y:101.5},{x:"5 Yaş",y:104},{x:"5,5 Yaş",y:107},{x:"6 Yaş",y:110}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%25',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:50.2},{x:"3 Ay",y:58.5},{x:"6 Ay",y:64.5},{x:"9 Ay",y:69.5},{x:"12 Ay",y:73},{x:"15 Ay",y:76.5},{x:"18 Ay",y:79.5},{x:"2 Yaş",y:85.5},{x:"2,5 Yaş",y:90.5},{x:"3 Yaş",y:95},{x:"3,5 Yaş",y:98.5},{x:"4 Yaş",y:102},{x:"4,5 Yaş",y:105},{x:"5 Yaş",y:108},{x:"5,5 Yaş",y:110},{x:"6 Yaş",y:114}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,        
                  fill: false,
                  label: '%50',
                  borderWidth: 3
              },
              {
                  data: [{x:"Doğum",y:51},{x:"3 Ay",y:60},{x:"6 Ay",y:66.5},{x:"9 Ay",y:71},{x:"12 Ay",y:75},{x:"15 Ay",y:78.5},{x:"18 Ay",y:82},{x:"2 Yaş",y:88.5},{x:"2,5 Yaş",y:94},{x:"3 Yaş",y:98.5},{x:"3,5 Yaş",y:101.5},{x:"4 Yaş",y:105},{x:"4,5 Yaş",y:108.8},{x:"5 Yaş",y:111},{x:"5,5 Yaş",y:114},{x:"6 Yaş",y:117.5}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%75',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:51.9},{x:"3 Ay",y:62.5},{x:"6 Ay",y:68.5},{x:"9 Ay",y:73},{x:"12 Ay",y:77},{x:"15 Ay",y:81},{x:"18 Ay",y:84.5},{x:"2 Yaş",y:91},{x:"2,5 Yaş",y:96.5},{x:"3 Yaş",y:101},{x:"3,5 Yaş",y:105},{x:"4 Yaş",y:108},{x:"4,5 Yaş",y:111.5},{x:"5 Yaş",y:114.5},{x:"5,5 Yaş",y:117.5},{x:"6 Yaş",y:121}],
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%90',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:53.6},{x:"3 Ay",y:64.5},{x:"6 Ay",y:70.5},{x:"9 Ay",y:75.5},{x:"12 Ay",y:80},{x:"15 Ay",y:84.5},{x:"18 Ay",y:88.5},{x:"2 Yaş",y:95},{x:"2,5 Yaş",y:100},{x:"3 Yaş",y:104.5},{x:"3,5 Yaş",y:108.5},{x:"4 Yaş",y:112},{x:"4,5 Yaş",y:115},{x:"5 Yaş",y:118.5},{x:"5,5 Yaş",y:121.5},{x:"6 Yaş",y:125}],
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%97',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                data: [{x: x, y: y}],
                label: 'sonuc',
                pointBackgroundColor: "#c93a7b",
                pointBorderWidth: 10,
                pointBorderColor: "#c93a7b"
              }]
          },
          options: {
              legend: {
                display: false,
                position: 'right',
                align: 'center',
                reverse: true,
                labels: {
                  boxWidth: 0
                }
              },
              scales: {
                yAxes: [{
                  ticks: { max: 140}
                }]
              },
              layout: {
              padding: {
                left: 0,
                right: 60,
                top: 20,
                bottom: 0
              }
            }
          }
      });

}

function getChartBoyKiz(x,y){

var ctx = document.getElementById('myChartBoy');
const chartBoy = new Chart(ctx, {
          type: 'line',
          fill: false,
          data: {
              labels: ['Doğum', '3 Ay', '6 Ay', '9 Ay', '12 Ay', '15 Ay', '18 Ay', "2 Yaş", "2,5 Yaş", "3 Yaş", "3,5 Yaş", "4 Yaş", "4,5 Yaş", "5 Yaş", "5,5 Yaş", "6 Yaş"],
              datasets: [{
                  data: [{x:"Doğum",y:47.1},{x:"3 Ay",y:54},{x:"6 Ay",y:58},{x:"9 Ay",y:61.5},{x:"12 Ay",y:64.5},{x:"15 Ay",y:68},{x:"18 Ay",y:71},{x:"2 Yaş",y:76.5},{x:"2,5 Yaş",y:81.5},{x:"3 Yaş",y:85.5},{x:"3,5 Yaş",y:89},{x:"4 Yaş",y:92},{x:"4,5 Yaş",y:94.7},{x:"5 Yaş",y:97.5},{x:"5,5 Yaş",y:100.5},{x:"6 Yaş",y:103}],
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%3',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                  data: [{"x":"Doğum",y:47.8},{"x":"3 Ay",y:55.5},{"x":"6 Ay",y:60},{x:"9 Ay",y:64.5},{"x":"12 Ay",y:68},{"x":"15 Ay",y:71.5},{x:"18 Ay",y:75},{x:"2 Yaş",y:80},{x:"2,5 Yaş",y:85},{x:"3 Yaş",y:88.5},{x:"3,5 Yaş",y:92.5},{x:"4 Yaş",y:95.5},{x:"4,5 Yaş",y:98},{x:"5 Yaş",y:101.5},{x:"5,5 Yaş",y:104},{x:"6 Yaş",y:107}],
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%10',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:49},{x:"3 Ay",y:57.5},{x:"6 Ay",y:62},{x:"9 Ay",y:66.5},{x:"12 Ay",y:70},{x:"15 Ay",y:73.5},{x:"18 Ay",y:76.5},{x:"2 Yaş",y:83.5},{x:"2,5 Yaş",y:88},{x:"3 Yaş",y:92},{x:"3,5 Yaş",y:95.5},{x:"4 Yaş",y:98.5},{x:"4,5 Yaş",y:101.5},{x:"5 Yaş",y:104},{x:"5,5 Yaş",y:107},{x:"6 Yaş",y:110}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%25',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:50.2},{x:"3 Ay",y:58.5},{x:"6 Ay",y:64.5},{x:"9 Ay",y:69.5},{x:"12 Ay",y:73},{x:"15 Ay",y:76.5},{x:"18 Ay",y:79.5},{x:"2 Yaş",y:85.5},{x:"2,5 Yaş",y:90.5},{x:"3 Yaş",y:95},{x:"3,5 Yaş",y:98.5},{x:"4 Yaş",y:102},{x:"4,5 Yaş",y:105},{x:"5 Yaş",y:108},{x:"5,5 Yaş",y:110},{x:"6 Yaş",y:114}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,        
                  fill: false,
                  label: '%50',
                  borderWidth: 3
              },
              {
                  data: [{x:"Doğum",y:51},{x:"3 Ay",y:60},{x:"6 Ay",y:66.5},{x:"9 Ay",y:71},{x:"12 Ay",y:75},{x:"15 Ay",y:78.5},{x:"18 Ay",y:82},{x:"2 Yaş",y:88.5},{x:"2,5 Yaş",y:94},{x:"3 Yaş",y:98.5},{x:"3,5 Yaş",y:101.5},{x:"4 Yaş",y:105},{x:"4,5 Yaş",y:108.8},{x:"5 Yaş",y:111},{x:"5,5 Yaş",y:114},{x:"6 Yaş",y:117.5}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%75',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:51.9},{x:"3 Ay",y:62.5},{x:"6 Ay",y:68.5},{x:"9 Ay",y:73},{x:"12 Ay",y:77},{x:"15 Ay",y:81},{x:"18 Ay",y:84.5},{x:"2 Yaş",y:91},{x:"2,5 Yaş",y:96.5},{x:"3 Yaş",y:101},{x:"3,5 Yaş",y:105},{x:"4 Yaş",y:108},{x:"4,5 Yaş",y:111.5},{x:"5 Yaş",y:114.5},{x:"5,5 Yaş",y:117.5},{x:"6 Yaş",y:121}],
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%90',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:53.6},{x:"3 Ay",y:64.5},{x:"6 Ay",y:70.5},{x:"9 Ay",y:75.5},{x:"12 Ay",y:80},{x:"15 Ay",y:84.5},{x:"18 Ay",y:88.5},{x:"2 Yaş",y:95},{x:"2,5 Yaş",y:100},{x:"3 Yaş",y:104.5},{x:"3,5 Yaş",y:108.5},{x:"4 Yaş",y:112},{x:"4,5 Yaş",y:115},{x:"5 Yaş",y:118.5},{x:"5,5 Yaş",y:121.5},{x:"6 Yaş",y:125}],
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%97',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                data: [{x: x, y: y}],
                label: 'sonuc',
                pointBackgroundColor: "#c93a7b",
                pointBorderWidth: 10,
                pointBorderColor: "#c93a7b"
              }]
          },
          options: {
              legend: {
                display: false,
                position: 'right',
                align: 'center',
                reverse: true,
                labels: {
                  boxWidth: 0
                }
              },
              scales: {
                yAxes: [{
                  ticks: { max: 140}
                }]
              },
              layout: {
              padding: {
                left: 0,
                right: 60,
                top: 20,
                bottom: 0
              }
            }
          }
      });

}

function getChartKiloErkek(x,y){

      var CtxKilo = document.getElementById('myChartKilo');
      const chartKilo = new Chart(CtxKilo, {
          type: 'line',
          fill: false,
          data: {
              labels: ['Doğum', '3 Ay', '6 Ay', '9 Ay', '12 Ay', '15 Ay', '18 Ay', "2 Yaş", "2,5 Yaş", "3 Yaş", "3,5 Yaş", "4 Yaş", "4,5 Yaş", "5 Yaş", "5,5 Yaş", "6 Yaş"],
              datasets: [{
                  data: [{x:"Doğum",y:2.6},{x:"3 Ay",y:4},{x:"6 Ay",y:5.4},{x:"9 Ay",y:6.4},{x:"12 Ay",y:7.1},{x:"15 Ay",y:7.7},{x:"18 Ay",y:8.3},{x:"2 Yaş",y:9.2},{x:"2,5 Yaş",y:9.9},{x:"3 Yaş",y:10.6},{x:"3,5 Yaş",y:11.2},{x:"4 Yaş",y:11.6},{x:"4,5 Yaş",y:12},{x:"5 Yaş",y:12.6},{x:"5,5 Yaş",y:13.2},{x:"6 Yaş",y:13.7}],
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%3',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:2.8},{x:"3 Ay",y:4.4},{x:"6 Ay",y:6.1},{x:"9 Ay",y:7.3},{x:"12 Ay",y:8.1},{x:"15 Ay",y:8.7},{x:"18 Ay",y:9.3},{x:"2 Yaş",y:10.4},{x:"2,5 Yaş",y:11.3},{x:"3 Yaş",y:12},{x:"3,5 Yaş",y:12.6},{x:"4 Yaş",y:13.2},{x:"4,5 Yaş",y:13.9},{x:"5 Yaş",y:14.6},{x:"5,5 Yaş",y:15.2},{x:"6 Yaş",y:16}],
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%10',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:3.1},{x:"3 Ay",y:4.8},{x:"6 Ay",y:6.8},{x:"9 Ay",y:8},{x:"12 Ay",y:8.9},{x:"15 Ay",y:9.6},{x:"18 Ay",y:10.2},{x:"2 Yaş",y:11.3},{x:"2,5 Yaş",y:12.2},{x:"3 Yaş",y:13},{x:"3,5 Yaş",y:13.7},{x:"4 Yaş",y:14.4},{x:"4,5 Yaş",y:15.3},{x:"5 Yaş",y:16.3},{x:"5,5 Yaş",y:17.1},{x:"6 Yaş",y:18.1}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%25',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:3.4},{x:"3 Ay",y:5.4},{x:"6 Ay",y:7.4},{x:"9 Ay",y:8.6},{x:"12 Ay",y:9.6},{x:"15 Ay",y:10.4},{x:"18 Ay",y:11},{x:"2 Yaş",y:12.2},{x:"2,5 Yaş",y:13.1},{x:"3 Yaş",y:14},{x:"3,5 Yaş",y:15},{x:"4 Yaş",y:16},{x:"4,5 Yaş",y:17.1},{x:"5 Yaş",y:18.2},{x:"5,5 Yaş",y:19.2},{x:"6 Yaş",y:20.2}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%50',
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:3.7},{x:"3 Ay",y:6},{x:"6 Ay",y:8},{x:"9 Ay",y:9.5},{x:"12 Ay",y:10.6},{x:"15 Ay",y:11.4},{x:"18 Ay",y:12},{x:"2 Yaş",y:13.1},{x:"2,5 Yaş",y:14.1},{x:"3 Yaş",y:15},{x:"3,5 Yaş",y:16.3},{x:"4 Yaş",y:17.5},{x:"4,5 Yaş",y:18.8},{x:"5 Yaş",y:20},{x:"5,5 Yaş",y:21.1},{x:"6 Yaş",y:22.5}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%75',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:3.9},{x:"3 Ay",y:6.4},{x:"6 Ay",y:8.6},{x:"9 Ay",y:10},{x:"12 Ay",y:11},{x:"15 Ay",y:11.9},{x:"18 Ay",y:12.6},{x:"2 Yaş",y:13.8},{x:"2,5 Yaş",y:15},{x:"3 Yaş",y:16.1},{x:"3,5 Yaş",y:17.4},{x:"4 Yaş",y:18.9},{x:"4,5 Yaş",y:20.4},{x:"5 Yaş",y:21.7},{x:"5,5 Yaş",y:23.2},{x:"6 Yaş",y:24.6}],
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%90',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:4.3},{x:"3 Ay",y:7},{x:"6 Ay",y:9.2},{x:"9 Ay",y:10.8},{x:"12 Ay",y:12.1},{x:"15 Ay",y:13},{x:"18 Ay",y:13.7},{x:"2 Yaş",y:15.1},{x:"2,5 Yaş",y:16.3},{x:"3 Yaş",y:17.5},{x:"3,5 Yaş",y:19},{x:"4 Yaş",y:20.6},{x:"4,5 Yaş",y:22},{x:"5 Yaş",y:23.8},{x:"5,5 Yaş",y:25.2},{x:"6 Yaş",y:26.6}],
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%97',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                data: [{x: x, y: y}],
                label: '',
                pointBackgroundColor: "#c93a7b",
                pointBorderWidth: 10,
                pointBorderColor: "#c93a7b"
              }]
          },
          options: {
              legend: {
                display: false,
                position: 'right',
                align: 'center',
                reverse: true,
                labels: {
                  boxWidth: 0
                }
              },
              scales: {
                yAxes: [{
                  ticks: { max: 25 }
                }]
              },
              layout: {
              padding: {
                left: 0,
                right: 60,
                top: 20,
                bottom: 0
              }
            }
          }
      });



}

function getChartKiloKiz(x,y){

      var CtxKilo = document.getElementById('myChartKilo');
      const chartKilo = new Chart(CtxKilo, {
          type: 'line',
          fill: false,
          data: {
              labels: ['Doğum', '3 Ay', '6 Ay', '9 Ay', '12 Ay', '15 Ay', '18 Ay', "2 Yaş", "2,5 Yaş", "3 Yaş", "3,5 Yaş", "4 Yaş", "4,5 Yaş", "5 Yaş", "5,5 Yaş", "6 Yaş"],
              datasets: [{
                  data: [{x:"Doğum",y:2.6},{x:"3 Ay",y:4},{x:"6 Ay",y:5.4},{x:"9 Ay",y:6.4},{x:"12 Ay",y:7.1},{x:"15 Ay",y:7.7},{x:"18 Ay",y:8.3},{x:"2 Yaş",y:9.2},{x:"2,5 Yaş",y:9.9},{x:"3 Yaş",y:10.6},{x:"3,5 Yaş",y:11.2},{x:"4 Yaş",y:11.6},{x:"4,5 Yaş",y:12},{x:"5 Yaş",y:12.6},{x:"5,5 Yaş",y:13.2},{x:"6 Yaş",y:13.7}],
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%3',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:2.8},{x:"3 Ay",y:4.4},{x:"6 Ay",y:6.1},{x:"9 Ay",y:7.3},{x:"12 Ay",y:8.1},{x:"15 Ay",y:8.7},{x:"18 Ay",y:9.3},{x:"2 Yaş",y:10.4},{x:"2,5 Yaş",y:11.3},{x:"3 Yaş",y:12},{x:"3,5 Yaş",y:12.6},{x:"4 Yaş",y:13.2},{x:"4,5 Yaş",y:13.9},{x:"5 Yaş",y:14.6},{x:"5,5 Yaş",y:15.2},{x:"6 Yaş",y:16}],
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%10',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:3.1},{x:"3 Ay",y:4.8},{x:"6 Ay",y:6.8},{x:"9 Ay",y:8},{x:"12 Ay",y:8.9},{x:"15 Ay",y:9.6},{x:"18 Ay",y:10.2},{x:"2 Yaş",y:11.3},{x:"2,5 Yaş",y:12.2},{x:"3 Yaş",y:13},{x:"3,5 Yaş",y:13.7},{x:"4 Yaş",y:14.4},{x:"4,5 Yaş",y:15.3},{x:"5 Yaş",y:16.3},{x:"5,5 Yaş",y:17.1},{x:"6 Yaş",y:18.1}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%25',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:3.4},{x:"3 Ay",y:5.4},{x:"6 Ay",y:7.4},{x:"9 Ay",y:8.6},{x:"12 Ay",y:9.6},{x:"15 Ay",y:10.4},{x:"18 Ay",y:11},{x:"2 Yaş",y:12.2},{x:"2,5 Yaş",y:13.1},{x:"3 Yaş",y:14},{x:"3,5 Yaş",y:15},{x:"4 Yaş",y:16},{x:"4,5 Yaş",y:17.1},{x:"5 Yaş",y:18.2},{x:"5,5 Yaş",y:19.2},{x:"6 Yaş",y:20.2}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%50',
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:3.7},{x:"3 Ay",y:6},{x:"6 Ay",y:8},{x:"9 Ay",y:9.5},{x:"12 Ay",y:10.6},{x:"15 Ay",y:11.4},{x:"18 Ay",y:12},{x:"2 Yaş",y:13.1},{x:"2,5 Yaş",y:14.1},{x:"3 Yaş",y:15},{x:"3,5 Yaş",y:16.3},{x:"4 Yaş",y:17.5},{x:"4,5 Yaş",y:18.8},{x:"5 Yaş",y:20},{x:"5,5 Yaş",y:21.1},{x:"6 Yaş",y:22.5}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%75',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:3.9},{x:"3 Ay",y:6.4},{x:"6 Ay",y:8.6},{x:"9 Ay",y:10},{x:"12 Ay",y:11},{x:"15 Ay",y:11.9},{x:"18 Ay",y:12.6},{x:"2 Yaş",y:13.8},{x:"2,5 Yaş",y:15},{x:"3 Yaş",y:16.1},{x:"3,5 Yaş",y:17.4},{x:"4 Yaş",y:18.9},{x:"4,5 Yaş",y:20.4},{x:"5 Yaş",y:21.7},{x:"5,5 Yaş",y:23.2},{x:"6 Yaş",y:24.6}],
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%90',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:4.3},{x:"3 Ay",y:7},{x:"6 Ay",y:9.2},{x:"9 Ay",y:10.8},{x:"12 Ay",y:12.1},{x:"15 Ay",y:13},{x:"18 Ay",y:13.7},{x:"2 Yaş",y:15.1},{x:"2,5 Yaş",y:16.3},{x:"3 Yaş",y:17.5},{x:"3,5 Yaş",y:19},{x:"4 Yaş",y:20.6},{x:"4,5 Yaş",y:22},{x:"5 Yaş",y:23.8},{x:"5,5 Yaş",y:25.2},{x:"6 Yaş",y:26.6}],
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%97',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                data: [{x: x, y: y}],
                label: '',
                pointBackgroundColor: "#c93a7b",
                pointBorderWidth: 10,
                pointBorderColor: "#c93a7b"
              }]
          },
          options: {
              legend: {
                display: false,
                position: 'right',
                align: 'center',
                reverse: true,
                labels: {
                  boxWidth: 0
                }
              },
              scales: {
                yAxes: [{
                  ticks: { max: 25 }
                }]
              },
              layout: {
              padding: {
                left: 0,
                right: 60,
                top: 20,
                bottom: 0
              }
            }
          }
      });

}

function hesaplaPers(){

   {{!-- verileri alma alani  --}}

   let cinsiyet;

  let boyAlinan= document.getElementById("boy").value
  let kiloAlinan= document.getElementById("kilo").value
  let yasAlinan= document.getElementById("dogumtarihi").value


  if (document.getElementById('erkekRadio').checked) {
  cinsiyet = document.getElementById('erkekRadio').value;
  } else {
    cinsiyet = document.getElementById('kizRadio').value;
  }
  // Tarih hesaplama alani //

  
  let simdi = new Date();

  let simdikiYil = simdi.getYear();
  let simdikiAy = simdi.getMonth();
  let simdikiGun = simdi.getDate();

  let dogum = new Date(yasAlinan);

  let dogumYil = dogum.getYear();
  let dogumAy = dogum.getMonth();
  let dogumGun = dogum.getDate();

  let yasSonuc = {};

    yasYili = simdikiYil - dogumYil;

  if(simdikiAy >= dogumAy){

    var yasAyi = simdikiAy - dogumAy;

  }else{

    var yasAyi = 12 + simdikiAy -dogumAy;
    yasYili--;

  }

  if (simdikiGun >= dogumGun){
    var yasGunu = simdikiGun - dogumGun;
  }else {

    var yasGunu = 31 + simdikiGun - dogumGun;
     yasAyi--;

    if (yasAyi < 0) {
      yasAyi = 11;
      yasYili--;
    }
  }

  yasSonuc = {
    yil: yasYili,
    ay: yasAyi,
    gun: yasGunu
  };


  let yasSonucGGAAYYY;

  if(yasSonuc.yil === 0){
    yasSonucGGAAYYY = yasSonuc.ay + ' Ay ' + yasSonuc.gun + ' Gün';
  }else{
    yasSonucGGAAYYY = yasSonuc.yil+ ' Yıl ' + yasSonuc.ay + ' Ay ' + yasSonuc.gun + ' Gün';
  }


// DATA ALANI// 
      const dataBoyErkek = [
      [45.9, 56.2, 62.8, 67.4, 70.8, 73.8, 76.4, 81, 85.3, 89.3, 92.8, 96, 99, 101.8, 104.5, 107.1], // %3 tamam
      [47.2,57.8	,64.5	,69.1,	72.7,	75.8,	78.5,	83.3,	87.6,	91.7,	95.2,	98.6,	101.7,	104.5,	107.3,	110],
      [48.5,	59.5,	66.2,	70.9,	74.7,	77.9,	80.7,	85.6,	90.0,	94.1,	97.7,	101.1,	104.3,	107.3,	110.1,	112.9],
      [50.0,	61.3,	68.0,	72.8,	76.9,	80.2,	83.1,	88.2,	92.6,	96.8,	100.5,	104.0	,107.3,	110.4	,113.3,	116.1],
      [51.5,	63.2,	69.9,	74.7,	79.1,	82.5,	85.5,	90.8,	95.3,	99.4,	103.2	,106.9,	110.3,	113.5,	116.4,119.3],
      [52.9,	64.8,	71.6,	76.4,	81.1,	84.5,	87.7,	93.2,	97.6,	101.8,	105.7,	109.5,	113.0,	116.2,	119.3,	122.2],
      [54.2,	66.4,	73.2,	78.1,	83.0,	86.6,	89.8,	95.5,	100.0,	104.2	,108.2,	112.0	,115.6,	119.0	,122.1,	125.1]];   // DATA UPDATE OK!

      const dataBoyKiz = [[45.3,	55.3,	61.6,	66.0,	69.7,	72.8,	75.5,	80.1,	84.0,	87.8,	91.1,	94.3,	97.4,	100.4,	103.6,	106.2],
      [46.6,	56.8,	63.1,	67.7,	71.4,	74.6,	77.4,	82.3,	86.3,	90.2,	93.6,	96.9,	100.1	,103.2,	106.3,	109.0],
      [47.9,	58.2,	64.7,	69.3,	73.2,	76.5,	79.3,	84.4,	88.6,	92.7,	96.2,	99.6,	102.8	,105.9,	109.0	,111.9],
      [49.4,	59.9,	66.4,	71.2,	75.1,	78.5,	81.5,	86.8,	91.2,	95.4,	99.0,	102.5,	105.9,	109.1,	112.1,115.1],
      [50.8,	61.5,	68.2,	73.0,	77.1,	80.6,	83.7,	89.2,	93.8,	98.1,	101.9	,105.5,	108.9,	112.2,	115.3,	118.4],
      [52.1,	63.0,	69.7,	74.6,	78.8,	82.4,	85.6,	91.4,	96.1,	100.6	,104.5,	108.1	,111.6,	114.9,	118.3	,121.3],
      [53.4,	64.5,	71.3,	76.3,	80.5,	84.2,	87.6,	93.5,	98.4,	103.0,	107.0	,110.7,	114.3,	117.7,	121.2,	124.1]];






      const dataKiloErkek = [[2.6,4,5.4,6.4,7.1,7.7,8.3,9.2,9.9,10.6,11.2,11.6,12,12.6,13.2,13.7,14.4,15.3,23,38,43], // bu degerden kucuk ise mutlaka bir doktara danisiniz
      [2.8,4.4,6.1,7.3,8.1,8.7,9.3,10.4,11.3,12,12.6,13.2,13.9,14.6,15.2,16,16.6,17.5,26.6,42.9,47.6],    ////  Ortalama degerin altindadir, cocugunuzun beslenmesine dikkat ediniz
      [3.1,4.8,6.8,8,8.9,9.6,10.2,11.3,12.2,13,13.7,14.4,15.3,16.3,17.1,18.1,19.1,20.1,30.2,47.4,52.5],   // 
      [3.4,5.4,7.4,8.6,9.6,10.4,11,12.2,13.1,14,15,16,17.1,18.2,19.2,20.2,21.3,22.5,34,51.8,56],          //  normal aralik
      [3.7,6,8,9.5,10.6,11.4,12,13.1,14.1,15,16.3,17.5,18.8,20,21.1,22.5,23.7,25.2,38.2,56.3,60.9],       // 
      [3.9,6.4,8.6,10,11,11.9,12.6,13.8,15,16.1,17.4,18.9,20.4,21.7,23.2,24.6,26.1,27.6,41.5,60.7,65],    //>ortalama Degerin biraz uzerindedir beslenmesine dikkar ediniz
      [4.3,7,9.2,10.8,12.1,13,13.7,15.1,16.3,17.5,19,20.6,22,23.8,25.2,26.6,28.3,30,45,66.3,71]]; // bu degerden buyukse ortalamanin ustunde bi doktara danisiniz

      const dataKiloKiz = [[2.6,4,5.4,6.4,7.1,7.7,8.3,9.2,9.9,10.6,11.2,11.6,12,12.6,13.2,13.7,14.4,15.3,23,38,43],
      [2.8,4.4,6.1,7.3,8.1,8.7,9.3,10.4,11.3,12,12.6,13.2,13.9,14.6,15.2,16,16.6,17.5,26.6,42.9,47.6],
      [3.1,4.8,6.8,8,8.9,9.6,10.2,11.3,12.2,13,13.7,14.4,15.3,16.3,17.1,18.1,19.1,20.1,30.2,47.4,52.5],
      [3.4,5.4,7.4,8.6,9.6,10.4,11,12.2,13.1,14,15,16,17.1,18.2,19.2,20.2,21.3,22.5,34,51.8,56],
      [3.7,6,8,9.5,10.6,11.4,12,13.1,14.1,15,16.3,17.5,18.8,20,21.1,22.5,23.7,25.2,38.2,56.3,60.9],
      [3.9,6.4,8.6,10,11,11.9,12.6,13.8,15,16.1,17.4,18.9,20.4,21.7,23.2,24.6,26.1,27.6,41.5,60.7,65],
      [4.3,7,9.2,10.8,12.1,13,13.7,15.1,16.3,17.5,19,20.6,22,23.8,25.2,26.6,28.3,30,45,66.3,71]];
      
     
          let chartResultYas = {
            key: 0,
            value: 0
          };


          if(yasSonuc.ay < 2 && yasSonuc.yil < 1){
              chartResultYas.key = 0;
              chartResultYas.value = "Doğum";
          }else if(yasSonuc.ay < 5 && yasSonuc.yil < 1){
              chartResultYas.key = 1;
              chartResultYas.value = "3 Ay";
          }else if(yasSonuc.ay < 8 && yasSonuc.yil < 1){
              chartResultYas.key = 2;
              chartResultYas.value = "6 Ay";
          }else if(yasSonuc.ay < 11 && yasSonuc.yil < 1){
              chartResultYas.key = 3;
              chartResultYas.value = "9 Ay";
          }else if(yasSonuc.ay < 12 && yasSonuc.yil < 1 || yasSonuc.ay < 2 && yasSonuc.yil < 2){
              chartResultYas.key = 4;
              chartResultYas.value = "12 Ay";
          }else if(yasSonuc.ay < 5 && yasSonuc.yil < 2){
              chartResultYas.key = 5;
              chartResultYas.value = "15 Ay";
          }else if(yasSonuc.ay < 9 && yasSonuc.yil < 2){
              chartResultYas.key = 6;
              chartResultYas.value = "18 Ay";
          }else if(yasSonuc.ay < 12 && yasSonuc.yil < 2 || yasSonuc.ay < 4 && yasSonuc.yil < 3){
              chartResultYas.key = 7;
              chartResultYas.value = "2 Yaş";
          }else if(yasSonuc.ay < 10 && yasSonuc.yil < 3){
              chartResultYas.key = 8;
              chartResultYas.value = "2,5 Yaş";
          }else if(yasSonuc.ay < 12 && yasSonuc.yil < 3 || yasSonuc.ay < 4 && yasSonuc.yil < 4){
              chartResultYas.key = 9;
              chartResultYas.value = "3 Yaş";
          }else if(yasSonuc.ay < 10 && yasSonuc.yil < 4){
              chartResultYas.key = 10;
              chartResultYas.value = "3,5 Yaş";
          }else if(yasSonuc.ay < 12 && yasSonuc.yil < 4 || yasSonuc.ay < 4 && yasSonuc.yil < 5){
              chartResultYas.key = 11;
              chartResultYas.value = "4 Yaş";
          }else if(yasSonuc.ay < 10 && yasSonuc.yil < 5){
              chartResultYas.key = 12;
              chartResultYas.value = "4,5 Yaş";
          }else if(yasSonuc.ay < 12 && yasSonuc.yil < 5 || yasSonuc.ay < 4 && yasSonuc.yil < 6){
              chartResultYas.key = 13;
              chartResultYas.value = "5 Yaş";
          }else if(yasSonuc.ay < 10 && yasSonuc.yil < 6){
              chartResultYas.key = 14;
              chartResultYas.value = "5,5 Yaş";
          }else if(yasSonuc.ay < 13 && yasSonuc.yil < 7){
              chartResultYas.key = 15;
              chartResultYas.value = "6 Yaş";
          }

          
  var sonucOrtalamaBoy; 
  var sonucOrtalamaKilo;


  let period= chartResultYas.value;
  let degerBoy= boyAlinan;
  let degerKilo= kiloAlinan;  

  if (cinsiyet=="Erkek"){
    sonucOrtalamaBoy= dataBoyErkek[3][chartResultYas.key];
    sonucOrtalamaKilo= dataKiloErkek[3][chartResultYas.key];
    getChartBoyErkek(period,degerBoy);
    getChartKiloErkek(period,degerKilo)

    if (boyAlinan>=dataBoyErkek[2][chartResultYas.key] && boyAlinan<=dataBoyErkek[4][chartResultYas.key]){
      mesajBoy='Oğlunuz ideal boydadır.'
    }
    else if(boyAlinan>=dataBoyErkek[0][chartResultYas.key] && boyAlinan<dataBoyErkek[2][chartResultYas.key]){
      mesajBoy=(`Oğlunuz ortalama boy değerinin ${(sonucOrtalamaBoy-boyAlinan).toFixed(1)} cm altındadır.`)
    }
    
    else if(boyAlinan<dataBoyErkek[0][chartResultYas.key]){
      mesajBoy='Oğlunuz ortalama boy değerlerin altındadır.'
    }
    else if(boyAlinan>dataBoyErkek[4][chartResultYas.key] && boyAlinan<=dataBoyErkek[6][chartResultYas.key]){
      mesajBoy=(`Oğlunuz ortalama boy değerinin ${(boyAlinan-sonucOrtalamaBoy).toFixed(1)} cm üstündedir.`)
    }
    else if(boyAlinan>dataBoyErkek[6][chartResultYas.key]){
      mesajBoy='Oğlunuz ortalama boy değerlerin üzerindedir.'
    }


    // Erkek Kilo ALanı

    if (kiloAlinan>=dataKiloErkek[2][chartResultYas.key] && kiloAlinan<=dataKiloErkek[4][chartResultYas.key]){
      mesajKilo='Ayrıca ideal kilodadır.'
    }
    else if(kiloAlinan>=dataKiloErkek[0][chartResultYas.key] && kiloAlinan<dataKiloErkek[2][chartResultYas.key]){
      mesajKilo=(`Ayrıca ortalama boy değerinin ${(sonucOrtalamaBoy-kiloAlinan).toFixed(1)} kg altındadır.Beslenmesine dikkat etmelisiniz.`)
    }
    
    else if(kiloAlinan<dataKiloErkek[0][chartResultYas.key]){
      mesajKilo='Ayrıca ortalama kilo değerlerin altındadır. Mutlaka bir çocuk doktoru ile görüşmelisiniz.'
    }
    else if(kiloAlinan>dataKiloErkek[4][chartResultYas.key] && kiloAlinan<=dataKiloErkek[6][chartResultYas.key]){
      mesajKilo=(`Ayrıca ortalama boy değerinin ${(kiloAlinan-sonucOrtalamaBoy).toFixed(1)} kg üstündedir.Beslenmesine dikkat etmelisiniz.`)
    }
    else if(kiloAlinan>dataKiloErkek[6][chartResultYas.key]){
      mesajKilo='Ayrıca ortalama kilo değerlerin üzerindedir. Mutlaka bir çocuk doktoru ile görüşmelisiniz.'
    }



  } else{

    sonucOrtalamaBoy= dataBoyKiz[3][chartResultYas.key];
    sonucOrtalamaKilo= dataKiloKiz[3][chartResultYas.key];
    getChartBoyKiz(period,degerBoy);
    getChartKiloKiz(period,degerKilo);


    //BOY MESAJ OLUSTURMA ALANI
    if (boyAlinan>=dataBoyKiz[2][chartResultYas.key] && boyAlinan<=dataBoyKiz[4][chartResultYas.key]){
      mesajBoy='Kızınız ideal boydadır.'
    }
    else if(boyAlinan>=dataBoyKiz[0][chartResultYas.key] && boyAlinan<dataBoyKiz[2][chartResultYas.key]){
      mesajBoy=(`Kızınız ortalama boy değerinin ${(sonucOrtalamaBoy-boyAlinan).toFixed(1)} cm altındadır.`)
    }
    
    else if(boyAlinan<dataBoyKiz[0][chartResultYas.key]){
      mesajBoy='Kızınız ortalama boy değerlerin altındadır.'
    }
    else if(boyAlinan>dataBoyKiz[4][chartResultYas.key] && boyAlinan<=dataBoyKiz[6][chartResultYas.key]){
      mesajBoy=(`Kızınız ortalama boy değerinin ${(boyAlinan-sonucOrtalamaBoy).toFixed(1)} cm üstündedir. `)
    }
    else if(boyAlinan>dataBoyKiz[6][chartResultYas.key]){
      mesajBoy='Kızınız ortalama boy değerlerin üzerindedir.'
    }


    // KİLO NESAJ ALANI

        if (kiloAlinan>=dataKiloKiz[2][chartResultYas.key] && kiloAlinan<=dataKiloKiz[4][chartResultYas.key]){
      mesajKilo='Ayrıca ideal kilodadır.'
    }
    else if(kiloAlinan>=dataKiloKiz[0][chartResultYas.key] && kiloAlinan<dataKiloKiz[2][chartResultYas.key]){
      mesajKilo=(`Ayrıca ortalama boy değerinin ${(sonucOrtalamaBoy-kiloAlinan).toFixed(1)} kg altındadır.Beslenmesine dikkat etmelisiniz.`)
    }
    
    else if(kiloAlinan<dataKiloKiz[0][chartResultYas.key]){
      mesajKilo='Ayrıca ortalama kilo değerlerin altındadır. Mutlaka bir çocuk doktoru ile görüşmelisiniz.'
    }
    else if(kiloAlinan>dataKiloKiz[4][chartResultYas.key] && kiloAlinan<=dataKiloKiz[6][chartResultYas.key]){
      mesajKilo=(`Ayrıca ortalama boy değerinin ${(kiloAlinan-sonucOrtalamaBoy).toFixed(1)} kg üstündedir.Beslenmesine dikkat etmelisiniz.`)
    }
    else if(kiloAlinan>dataKiloKiz[6][chartResultYas.key]){
      mesajKilo='Ayrıca ortalama kilo değerlerin üzerindedir. Mutlaka bir çocuk doktoru ile görüşmelisiniz.'
    }


   

  }


  document.getElementById("resultBoy").innerText= boyAlinan
  document.getElementById("resultKilo").innerText= kiloAlinan
  document.getElementById("resultCinsiyet").innerText= cinsiyet
  document.getElementById("resultCinsiyetPragraph").innerText= cinsiyet
  document.getElementById("resultDogumTarihi").innerText=yasSonucGGAAYYY
  document.getElementById("resultBoyOrtalama").innerHTML=sonucOrtalamaBoy
  document.getElementById("resultKiloOrtalama").innerHTML=sonucOrtalamaKilo


 }

</script>
<script src=""></script>
   

