<script>

      // Erkek Çocuk Boy Oranları %3, %5, %25, %50, %75, %90, %97
      let erkekBoy = [[{x:"Doğum",y:47.1},{x:"3 Ay",y:54},{x:"6 Ay",y:58},{x:"12 Ay",y:61.5},{x:"15 Ay",y:64.5},{x:"18 Ay",y:68},{x:"2 Yaş",y:71},{x:"2,5 Yaş",y:76.5},{x:"3 Yaş",y:81.5},{x:"4 Yaş",y:85.5},{x:"4,5 Yaş",y:89},{x:"5 Yaş",y:92},{x:"5,5 Yaş",y:94.7},{x:"6 Yaş",y:97.5},{x:"6+ Yaş",y:100.5},{x:"6+ Yaş",y:103},{x:"6+ Yaş",y:105.5},{x:"6+ Yaş",y:108},{x:"6+ Yaş",y:125.5},{x:"6+ Yaş",y:147.5},{x:"6+ Yaş",y:148.5}],[{x:"Doğum",y:47.8},{x:"3 Ay",y:55.5},{x:"6 Ay",y:60},{x:"12 Ay",y:64.5},{x:"15 Ay",y:68},{x:"18 Ay",y:71.5},{x:"2 Yaş",y:75},{x:"2,5 Yaş",y:80},{x:"3 Yaş",y:85},{x:"4 Yaş",y:88.5},{x:"4,5 Yaş",y:92.5},{x:"5 Yaş",y:95.5},{x:"5,5 Yaş",y:98},{x:"6 Yaş",y:101.5},{x:"6+ Yaş",y:104},{x:"6+ Yaş",y:107},{x:"6+ Yaş",y:110},{x:"6+ Yaş",y:113},{x:"6+ Yaş",y:130},{x:"6+ Yaş",y:151},{x:"6+ Yaş",y:152.5}],[{x:"Doğum",y:49},{x:"3 Ay",y:57.5},{x:"6 Ay",y:62},{x:"12 Ay",y:66.5},{x:"15 Ay",y:70},{x:"18 Ay",y:73.5},{x:"2 Yaş",y:76.5},{x:"2,5 Yaş",y:83.5},{x:"3 Yaş",y:88},{x:"4 Yaş",y:92},{x:"4,5 Yaş",y:95.5},{x:"5 Yaş",y:98.5},{x:"5,5 Yaş",y:101.5},{x:"6 Yaş",y:104},{x:"6+ Yaş",y:107},{x:"6+ Yaş",y:110},{x:"6+ Yaş",y:113},{x:"6+ Yaş",y:116},{x:"6+ Yaş",y:133.5},{x:"6+ Yaş",y:154},{x:"6+ Yaş",y:155}],[{x:"Doğum",y:50.2},{x:"3 Ay",y:58.5},{x:"6 Ay",y:64.5},{x:"12 Ay",y:69.5},{x:"15 Ay",y:73},{x:"18 Ay",y:76.5},{x:"2 Yaş",y:79.5},{x:"2,5 Yaş",y:85.5},{x:"3 Yaş",y:90.5},{x:"4 Yaş",y:95},{x:"4,5 Yaş",y:98.5},{x:"5 Yaş",y:102},{x:"5,5 Yaş",y:105},{x:"6 Yaş",y:108},{x:"6+ Yaş",y:111},{x:"6+ Yaş",y:114},{x:"6+ Yaş",y:117},{x:"6+ Yaş",y:120},{x:"6+ Yaş",y:137},{x:"6+ Yaş",y:158.5},{x:"6+ Yaş",y:160}],[{x:"Doğum",y:51},{x:"3 Ay",y:60},{x:"6 Ay",y:66.5},{x:"12 Ay",y:71},{x:"15 Ay",y:75},{x:"18 Ay",y:78.5},{x:"2 Yaş",y:82},{x:"2,5 Yaş",y:88.5},{x:"3 Yaş",y:94},{x:"4 Yaş",y:98.5},{x:"4,5 Yaş",y:101.5},{x:"5 Yaş",y:105},{x:"5,5 Yaş",y:108.8},{x:"6 Yaş",y:111},{x:"6+ Yaş",y:114},{x:"6+ Yaş",y:117.5},{x:"6+ Yaş",y:120.5},{x:"6+ Yaş",y:123.5},{x:"6+ Yaş",y:141},{x:"6+ Yaş",y:162},{x:"6+ Yaş",y:165}],[{x:"Doğum",y:51.9},{x:"3 Ay",y:62.5},{x:"6 Ay",y:68.5},{x:"12 Ay",y:73},{x:"15 Ay",y:77},{x:"18 Ay",y:81},{x:"2 Yaş",y:84.5},{x:"2,5 Yaş",y:91},{x:"3 Yaş",y:96.5},{x:"4 Yaş",y:101},{x:"4,5 Yaş",y:105},{x:"5 Yaş",y:108},{x:"5,5 Yaş",y:111.5},{x:"6 Yaş",y:114.5},{x:"6+ Yaş",y:117.5},{x:"6+ Yaş",y:121},{x:"6+ Yaş",y:124},{x:"6+ Yaş",y:127},{x:"6+ Yaş",y:144.5},{x:"6+ Yaş",y:166},{x:"6+ Yaş",y:169.5}],[{x:"Doğum",y:53.6},{x:"3 Ay",y:64.5},{x:"6 Ay",y:70.5},{x:"12 Ay",y:75.5},{x:"15 Ay",y:80},{x:"18 Ay",y:84.5},{x:"2 Yaş",y:88.5},{x:"2,5 Yaş",y:95},{x:"3 Yaş",y:100},{x:"4 Yaş",y:104.5},{x:"4,5 Yaş",y:108.5},{x:"5 Yaş",y:112},{x:"5,5 Yaş",y:115},{x:"6 Yaş",y:118.5},{x:"6+ Yaş",y:121.5},{x:"6+ Yaş",y:125},{x:"6+ Yaş",y:128},{x:"6+ Yaş",y:131},{x:"6+ Yaş",y:149},{x:"6+ Yaş",y:170.4},{x:"6+ Yaş",y:174}]];

      // Erkek Çocuk Kilo Oranları %3, %5, %25, %50, %75, %90, %97

      let erkekKilo = [[{x:"Doğum",y:2.6},{x:"3 Ay",y:4},{x:"6 Ay",y:5.4},{x:"12 Ay",y:6.4},{x:"15 Ay",y:7.1},{x:"18 Ay",y:7.7},{x:"2 Yaş",y:8.3},{x:"2,5 Yaş",y:9.2},{x:"3 Yaş",y:9.9},{x:"4 Yaş",y:10.6},{x:"4,5 Yaş",y:11.2},{x:"5 Yaş",y:11.6},{x:"5,5 Yaş",y:12},{x:"6 Yaş",y:12.6},{x:"6+ Yaş",y:13.2},{x:"6+ Yaş",y:13.7},{x:"6+ Yaş",y:14.4},{x:"6+ Yaş",y:15.3},{x:"6+ Yaş",y:23},{x:"6+ Yaş",y:38},{x:"6+ Yaş",y:43}],[{x:"Doğum",y:2.8},{x:"3 Ay",y:4.4},{x:"6 Ay",y:6.1},{x:"12 Ay",y:7.3},{x:"15 Ay",y:8.1},{x:"18 Ay",y:8.7},{x:"2 Yaş",y:9.3},{x:"2,5 Yaş",y:10.4},{x:"3 Yaş",y:11.3},{x:"4 Yaş",y:12},{x:"4,5 Yaş",y:12.6},{x:"5 Yaş",y:13.2},{x:"5,5 Yaş",y:13.9},{x:"6 Yaş",y:14.6},{x:"6+ Yaş",y:15.2},{x:"6+ Yaş",y:16},{x:"6+ Yaş",y:16.6},{x:"6+ Yaş",y:17.5},{x:"6+ Yaş",y:26.6},{x:"6+ Yaş",y:42.9},{x:"6+ Yaş",y:47.6}],[{x:"Doğum",y:3.1},{x:"3 Ay",y:4.8},{x:"6 Ay",y:6.8},{x:"12 Ay",y:8},{x:"15 Ay",y:8.9},{x:"18 Ay",y:9.6},{x:"2 Yaş",y:10.2},{x:"2,5 Yaş",y:11.3},{x:"3 Yaş",y:12.2},{x:"4 Yaş",y:13},{x:"4,5 Yaş",y:13.7},{x:"5 Yaş",y:14.4},{x:"5,5 Yaş",y:15.3},{x:"6 Yaş",y:16.3},{x:"6+ Yaş",y:17.1},{x:"6+ Yaş",y:18.1},{x:"6+ Yaş",y:19.1},{x:"6+ Yaş",y:20.1},{x:"6+ Yaş",y:30.2},{x:"6+ Yaş",y:47.4},{x:"6+ Yaş",y:52.5}],[{x:"Doğum",y:3.4},{x:"3 Ay",y:5.4},{x:"6 Ay",y:7.4},{x:"12 Ay",y:8.6},{x:"15 Ay",y:9.6},{x:"18 Ay",y:10.4},{x:"2 Yaş",y:11},{x:"2,5 Yaş",y:12.2},{x:"3 Yaş",y:13.1},{x:"4 Yaş",y:14},{x:"4,5 Yaş",y:15},{x:"5 Yaş",y:16},{x:"5,5 Yaş",y:17.1},{x:"6 Yaş",y:18.2},{x:"6+ Yaş",y:19.2},{x:"6+ Yaş",y:20.2},{x:"6+ Yaş",y:21.3},{x:"6+ Yaş",y:22.5},{x:"6+ Yaş",y:34},{x:"6+ Yaş",y:51.8},{x:"6+ Yaş",y:56}],[{x:"Doğum",y:3.7},{x:"3 Ay",y:6},{x:"6 Ay",y:8},{x:"12 Ay",y:9.5},{x:"15 Ay",y:10.6},{x:"18 Ay",y:11.4},{x:"2 Yaş",y:12},{x:"2,5 Yaş",y:13.1},{x:"3 Yaş",y:14.1},{x:"4 Yaş",y:15},{x:"4,5 Yaş",y:16.3},{x:"5 Yaş",y:17.5},{x:"5,5 Yaş",y:18.8},{x:"6 Yaş",y:20},{x:"6+ Yaş",y:21.1},{x:"6+ Yaş",y:22.5},{x:"6+ Yaş",y:23.7},{x:"6+ Yaş",y:25.2},{x:"6+ Yaş",y:38.2},{x:"6+ Yaş",y:56.3},{x:"6+ Yaş",y:60.9}],[{x:"Doğum",y:3.9},{x:"3 Ay",y:6.4},{x:"6 Ay",y:8.6},{x:"12 Ay",y:10},{x:"15 Ay",y:11},{x:"18 Ay",y:11.9},{x:"2 Yaş",y:12.6},{x:"2,5 Yaş",y:13.8},{x:"3 Yaş",y:15},{x:"4 Yaş",y:16.1},{x:"4,5 Yaş",y:17.4},{x:"5 Yaş",y:18.9},{x:"5,5 Yaş",y:20.4},{x:"6 Yaş",y:21.7},{x:"6+ Yaş",y:23.2},{x:"6+ Yaş",y:24.6},{x:"6+ Yaş",y:26.1},{x:"6+ Yaş",y:27.6},{x:"6+ Yaş",y:41.5},{x:"6+ Yaş",y:60.7},{x:"6+ Yaş",y:65}],[{x:"Doğum",y:4.3},{x:"3 Ay",y:7},{x:"6 Ay",y:9.2},{x:"12 Ay",y:10.8},{x:"15 Ay",y:12.1},{x:"18 Ay",y:13},{x:"2 Yaş",y:13.7},{x:"2,5 Yaş",y:15.1},{x:"3 Yaş",y:16.3},{x:"4 Yaş",y:17.5},{x:"4,5 Yaş",y:19},{x:"5 Yaş",y:20.6},{x:"5,5 Yaş",y:22},{x:"6 Yaş",y:23.8},{x:"6+ Yaş",y:25.2},{x:"6+ Yaş",y:26.6},{x:"6+ Yaş",y:28.3},{x:"6+ Yaş",y:30},{x:"6+ Yaş",y:45},{x:"6+ Yaş",y:66.3},{x:"6+ Yaş",y:71}]];

      var ar = new Array();

      erkekKilo.forEach(function(elem, ind){
        var arr = new Array;
        var x;

        elem.forEach(function(elem2, ind2){
          if(ind2 == 0){
            x = "Doğum";
          }else if(ind2 == 1){
            x = "3 Ay";
          }else if(ind2 == 2){
            x = "6 Ay";
          }else if(ind2 == 3){
            x = "12 Ay";
          }else if(ind2 == 4){
            x = "15 Ay";
          }else if(ind2 == 5){
            x = "18 Ay";
          }else if(ind2 == 6){
            x = "2 Yaş";
          }else if(ind2 == 7){
            x = "2,5 Yaş";
          }else if(ind2 == 8){
            x = "3 Yaş";
          }else if(ind2 == 9){
            x = "4 Yaş";
          }else if(ind2 == 10){
            x = "4,5 Yaş";
          }else if(ind2 == 11){
            x = "5 Yaş";
          }else if(ind2 == 12){
            x = "5,5 Yaş";
          }else if(ind2 == 13){
            x = "6 Yaş";
          }else{
            x = "6+ Yaş";
          }

          var row = {x: x, y: elem2};
          arr.push(row);
        });

        ar.push(arr);
      });

      // Kiz Çocuk Boy Oranları %3, %5, %25, %50, %75, %90, %97
      const kizBoy = [[47.1,54,58,61.5,64.5,68,71,76.5,81.5,85.5,89,92,94.7,97.5,100.5,103,105.5,108,125.5,147.5,148.5],[47.8,55.5,60,64.5,68,71.5,75,80,85,88.5,92.5,95.5,98,101.5,104,107,110,113,130,151,152.5],[49,57.5,62,66.5,70,73.5,76.5,83.5,88,92,95.5,98.5,101.5,104,107,110,113,116,133.5,154,155],[50.2,58.5,64.5,69.5,73,76.5,79.5,85.5,90.5,95,98.5,102,105,108,111,114,117,120,137,158.5,160],[51,60,66.5,71,75,78.5,82,88.5,94,98.5,101.5,105,108.8,111,114,117.5,120.5,123.5,141,162,165],[51.9,62.5,68.5,73,77,81,84.5,91,96.5,101,105,108,111.5,114.5,117.5,121,124,127,144.5,166,169.5],[53.6,64.5,70.5,75.5,80,84.5,88.5,95,100,104.5,108.5,112,115,118.5,121.5,125,128,131,149,170.4,174]];

      // Kiz Çocuk Kilo Oranları %3, %5, %25, %50, %75, %90, %97
      const kizKilo = [[2.6,4,5.4,6.4,7.1,7.7,8.3,9.2,9.9,10.6,11.2,11.6,12,12.6,13.2,13.7,14.4,15.3,23,38,43],[2.8,4.4,6.1,7.3,8.1,8.7,9.3,10.4,11.3,12,12.6,13.2,13.9,14.6,15.2,16,16.6,17.5,26.6,42.9,47.6],[3.1,4.8,6.8,8,8.9,9.6,10.2,11.3,12.2,13,13.7,14.4,15.3,16.3,17.1,18.1,19.1,20.1,30.2,47.4,52.5],[3.4,5.4,7.4,8.6,9.6,10.4,11,12.2,13.1,14,15,16,17.1,18.2,19.2,20.2,21.3,22.5,34,51.8,56],[3.7,6,8,9.5,10.6,11.4,12,13.1,14.1,15,16.3,17.5,18.8,20,21.1,22.5,23.7,25.2,38.2,56.3,60.9],[3.9,6.4,8.6,10,11,11.9,12.6,13.8,15,16.1,17.4,18.9,20.4,21.7,23.2,24.6,26.1,27.6,41.5,60.7,65],[4.3,7,9.2,10.8,12.1,13,13.7,15.1,16.3,17.5,19,20.6,22,23.8,25.2,26.6,28.3,30,45,66.3,71]];


      // Canvas
      const CtxBoy = document.getElementById('chartBoy').getContext('2d');
      const CtxKilo = document.getElementById('chartKilo').getContext('2d');
      const Bebek = document.getElementById('PersentilBebek');

      let ChartBoy = kizBoy;
      let ChartKilo = kizKilo;

      var originalController = Chart.controllers.line;
      Chart.controllers.line = Chart.controllers.line.extend({
        draw: function() {
          originalController.prototype.draw.call(this, arguments);
          drawLabels(this);
        }
      });

      function drawLabels(t) {
        CtxBoy.save();
        CtxBoy.font = Chart.helpers.fontString(12, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
        CtxBoy.fillStyle = '#8f8f8f';
        CtxBoy.textBaseline = 'bottom'; 

        var chartInstance = t.chart;
        var datasets = chartInstance.config.data.datasets;
        datasets.forEach(function(ds, index) {
          var label = ds.label;
          var meta = chartInstance.controller.getDatasetMeta(index);
          var len = meta.data.length-1;
          //console.log(ds, meta.data[len]._model);    
          var xOffset = meta.data[len]._model.x+10;
          var yOffset = meta.data[len]._model.y;
          CtxBoy.fillText(label, xOffset, yOffset);
        });
        CtxBoy.restore();
      }

      // Boy Chartı
      const chartBoy = new Chart(CtxBoy, {
          type: 'line',
          fill: false,
          data: {
              labels: ['Doğum', '3 Ay', '6 Ay', '9 Ay', '12 Ay', '15 Ay', '18 Ay', "2 Yaş", "2,5 Yaş", "3 Yaş", "3,5 Yaş", "4 Yaş", "4,5 Yaş", "5 Yaş", "5,5 Yaş", "6 Yaş"],
              datasets: [{
                  data: [{x:"Doğum",y:47.1},{x:"3 Ay",y:54},{x:"6 Ay",y:58},{x:"9 Ay",y:61.5},{x:"12 Ay",y:64.5},{x:"15 Ay",y:68},{x:"18 Ay",y:71},{x:"2 Yaş",y:76.5},{x:"2,5 Yaş",y:81.5},{x:"3 Yaş",y:85.5},{x:"3,5 Yaş",y:89},{x:"4 Yaş",y:92},{x:"4,5 Yaş",y:94.7},{x:"5 Yaş",y:97.5},{x:"5,5 Yaş",y:100.5},{x:"6 Yaş",y:103}],
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%3',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                  data: [{"x":"Doğum",y:47.8},{"x":"3 Ay",y:55.5},{"x":"6 Ay",y:60},{x:"9 Ay",y:64.5},{"x":"12 Ay",y:68},{"x":"15 Ay",y:71.5},{x:"18 Ay",y:75},{x:"2 Yaş",y:80},{x:"2,5 Yaş",y:85},{x:"3 Yaş",y:88.5},{x:"3,5 Yaş",y:92.5},{x:"4 Yaş",y:95.5},{x:"4,5 Yaş",y:98},{x:"5 Yaş",y:101.5},{x:"5,5 Yaş",y:104},{x:"6 Yaş",y:107}],
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%10',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:49},{x:"3 Ay",y:57.5},{x:"6 Ay",y:62},{x:"9 Ay",y:66.5},{x:"12 Ay",y:70},{x:"15 Ay",y:73.5},{x:"18 Ay",y:76.5},{x:"2 Yaş",y:83.5},{x:"2,5 Yaş",y:88},{x:"3 Yaş",y:92},{x:"3,5 Yaş",y:95.5},{x:"4 Yaş",y:98.5},{x:"4,5 Yaş",y:101.5},{x:"5 Yaş",y:104},{x:"5,5 Yaş",y:107},{x:"6 Yaş",y:110}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%25',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:50.2},{x:"3 Ay",y:58.5},{x:"6 Ay",y:64.5},{x:"9 Ay",y:69.5},{x:"12 Ay",y:73},{x:"15 Ay",y:76.5},{x:"18 Ay",y:79.5},{x:"2 Yaş",y:85.5},{x:"2,5 Yaş",y:90.5},{x:"3 Yaş",y:95},{x:"3,5 Yaş",y:98.5},{x:"4 Yaş",y:102},{x:"4,5 Yaş",y:105},{x:"5 Yaş",y:108},{x:"5,5 Yaş",y:110},{x:"6 Yaş",y:114}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,        
                  fill: false,
                  label: '%50',
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:51},{x:"3 Ay",y:60},{x:"6 Ay",y:66.5},{x:"9 Ay",y:71},{x:"12 Ay",y:75},{x:"15 Ay",y:78.5},{x:"18 Ay",y:82},{x:"2 Yaş",y:88.5},{x:"2,5 Yaş",y:94},{x:"3 Yaş",y:98.5},{x:"3,5 Yaş",y:101.5},{x:"4 Yaş",y:105},{x:"4,5 Yaş",y:108.8},{x:"5 Yaş",y:111},{x:"5,5 Yaş",y:114},{x:"6 Yaş",y:117.5}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%75',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:51.9},{x:"3 Ay",y:62.5},{x:"6 Ay",y:68.5},{x:"9 Ay",y:73},{x:"12 Ay",y:77},{x:"15 Ay",y:81},{x:"18 Ay",y:84.5},{x:"2 Yaş",y:91},{x:"2,5 Yaş",y:96.5},{x:"3 Yaş",y:101},{x:"3,5 Yaş",y:105},{x:"4 Yaş",y:108},{x:"4,5 Yaş",y:111.5},{x:"5 Yaş",y:114.5},{x:"5,5 Yaş",y:117.5},{x:"6 Yaş",y:121}],
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%90',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:53.6},{x:"3 Ay",y:64.5},{x:"6 Ay",y:70.5},{x:"9 Ay",y:75.5},{x:"12 Ay",y:80},{x:"15 Ay",y:84.5},{x:"18 Ay",y:88.5},{x:"2 Yaş",y:95},{x:"2,5 Yaş",y:100},{x:"3 Yaş",y:104.5},{x:"3,5 Yaş",y:108.5},{x:"4 Yaş",y:112},{x:"4,5 Yaş",y:115},{x:"5 Yaş",y:118.5},{x:"5,5 Yaş",y:121.5},{x:"6 Yaş",y:125}],
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%97',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                data: [{x: "Doğum", y: 0}],
                label: '',
                pointBackgroundColor: "#50c9ff",
                pointBorderWidth: 10,
                pointBorderColor: "#50c9ff"
              }]
          },
          options: {
              legend: {
                display: false,
                position: 'right',
                align: 'center',
                reverse: true,
                labels: {
                  boxWidth: 0
                }
              },
              scales: {
                yAxes: [{
                  ticks: { max: 140}
                }]
              },
              layout: {
              padding: {
                left: 0,
                right: 60,
                top: 20,
                bottom: 0
              }
            }
          }
      });

      Chart.controllers.line = Chart.controllers.line.extend({
        draw: function() {
          originalController.prototype.draw.call(this, arguments);
          drawLabelsY(this);
        }
      });

      function drawLabelsY(t) {
        CtxKilo.save();
        CtxKilo.font = Chart.helpers.fontString(12, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
        CtxKilo.fillStyle = '#8f8f8f';
        CtxKilo.textBaseline = 'bottom'; 

        var chartInstance = t.chart;
        var datasets = chartInstance.config.data.datasets;
        datasets.forEach(function(ds, index) {
          var label = ds.label;
          var meta = chartInstance.controller.getDatasetMeta(index);
          var len = meta.data.length-1;
          //console.log(ds, meta.data[len]._model);    
          var xOffset = meta.data[len]._model.x+10;
          var yOffset = meta.data[len]._model.y;
          CtxKilo.fillText(label, xOffset, yOffset);
        });
        CtxKilo.restore();
      }

      // Kilo Chartı
      const chartKilo = new Chart(CtxKilo, {
          type: 'line',
          fill: false,
          data: {
              labels: ['Doğum', '3 Ay', '6 Ay', '9 Ay', '12 Ay', '15 Ay', '18 Ay', "2 Yaş", "2,5 Yaş", "3 Yaş", "3,5 Yaş", "4 Yaş", "4,5 Yaş", "5 Yaş", "5,5 Yaş", "6 Yaş"],
              datasets: [{
                  data: [{x:"Doğum",y:2.6},{x:"3 Ay",y:4},{x:"6 Ay",y:5.4},{x:"9 Ay",y:6.4},{x:"12 Ay",y:7.1},{x:"15 Ay",y:7.7},{x:"18 Ay",y:8.3},{x:"2 Yaş",y:9.2},{x:"2,5 Yaş",y:9.9},{x:"3 Yaş",y:10.6},{x:"3,5 Yaş",y:11.2},{x:"4 Yaş",y:11.6},{x:"4,5 Yaş",y:12},{x:"5 Yaş",y:12.6},{x:"5,5 Yaş",y:13.2},{x:"6 Yaş",y:13.7}],
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%3',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:2.8},{x:"3 Ay",y:4.4},{x:"6 Ay",y:6.1},{x:"9 Ay",y:7.3},{x:"12 Ay",y:8.1},{x:"15 Ay",y:8.7},{x:"18 Ay",y:9.3},{x:"2 Yaş",y:10.4},{x:"2,5 Yaş",y:11.3},{x:"3 Yaş",y:12},{x:"3,5 Yaş",y:12.6},{x:"4 Yaş",y:13.2},{x:"4,5 Yaş",y:13.9},{x:"5 Yaş",y:14.6},{x:"5,5 Yaş",y:15.2},{x:"6 Yaş",y:16}],
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%10',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:3.1},{x:"3 Ay",y:4.8},{x:"6 Ay",y:6.8},{x:"9 Ay",y:8},{x:"12 Ay",y:8.9},{x:"15 Ay",y:9.6},{x:"18 Ay",y:10.2},{x:"2 Yaş",y:11.3},{x:"2,5 Yaş",y:12.2},{x:"3 Yaş",y:13},{x:"3,5 Yaş",y:13.7},{x:"4 Yaş",y:14.4},{x:"4,5 Yaş",y:15.3},{x:"5 Yaş",y:16.3},{x:"5,5 Yaş",y:17.1},{x:"6 Yaş",y:18.1}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%25',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:3.4},{x:"3 Ay",y:5.4},{x:"6 Ay",y:7.4},{x:"9 Ay",y:8.6},{x:"12 Ay",y:9.6},{x:"15 Ay",y:10.4},{x:"18 Ay",y:11},{x:"2 Yaş",y:12.2},{x:"2,5 Yaş",y:13.1},{x:"3 Yaş",y:14},{x:"3,5 Yaş",y:15},{x:"4 Yaş",y:16},{x:"4,5 Yaş",y:17.1},{x:"5 Yaş",y:18.2},{x:"5,5 Yaş",y:19.2},{x:"6 Yaş",y:20.2}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%50',
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:3.7},{x:"3 Ay",y:6},{x:"6 Ay",y:8},{x:"9 Ay",y:9.5},{x:"12 Ay",y:10.6},{x:"15 Ay",y:11.4},{x:"18 Ay",y:12},{x:"2 Yaş",y:13.1},{x:"2,5 Yaş",y:14.1},{x:"3 Yaş",y:15},{x:"3,5 Yaş",y:16.3},{x:"4 Yaş",y:17.5},{x:"4,5 Yaş",y:18.8},{x:"5 Yaş",y:20},{x:"5,5 Yaş",y:21.1},{x:"6 Yaş",y:22.5}],
                  borderColor: 'green',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%75',
                  borderDash: [8],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:3.9},{x:"3 Ay",y:6.4},{x:"6 Ay",y:8.6},{x:"9 Ay",y:10},{x:"12 Ay",y:11},{x:"15 Ay",y:11.9},{x:"18 Ay",y:12.6},{x:"2 Yaş",y:13.8},{x:"2,5 Yaş",y:15},{x:"3 Yaş",y:16.1},{x:"3,5 Yaş",y:17.4},{x:"4 Yaş",y:18.9},{x:"4,5 Yaş",y:20.4},{x:"5 Yaş",y:21.7},{x:"5,5 Yaş",y:23.2},{x:"6 Yaş",y:24.6}],
                  borderColor: 'orange',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%90',
                  borderDash: [3],
                  borderWidth: 1
              },
              {
                  data: [{x:"Doğum",y:4.3},{x:"3 Ay",y:7},{x:"6 Ay",y:9.2},{x:"9 Ay",y:10.8},{x:"12 Ay",y:12.1},{x:"15 Ay",y:13},{x:"18 Ay",y:13.7},{x:"2 Yaş",y:15.1},{x:"2,5 Yaş",y:16.3},{x:"3 Yaş",y:17.5},{x:"3,5 Yaş",y:19},{x:"4 Yaş",y:20.6},{x:"4,5 Yaş",y:22},{x:"5 Yaş",y:23.8},{x:"5,5 Yaş",y:25.2},{x:"6 Yaş",y:26.6}],
                  borderColor: 'red',
                  radius: 0,
                  borderWith: 1,
                  fill: false,
                  label: '%97',
                  borderDash: [14],
                  borderWidth: 1
              },
              {
                data: [{x: "Doğum", y: 0}],
                label: '',
                pointBackgroundColor: "#50c9ff",
                pointBorderWidth: 10,
                pointBorderColor: "#50c9ff"
              }]
          },
          options: {
              legend: {
                display: false,
                position: 'right',
                align: 'center',
                reverse: true,
                labels: {
                  boxWidth: 0
                }
              },
              scales: {
                yAxes: [{
                  ticks: { max: 25 }
                }]
              },
              layout: {
              padding: {
                left: 0,
                right: 60,
                top: 20,
                bottom: 0
              }
            }
          }
      });

      document.getElementById('PersentilHesapla').addEventListener('click', () => {
          let Sex = document.getElementById('PersentilCinsiyet').value;
          let Day =  document.getElementById('PersentilGun').value;
          let Month =  document.getElementById('PersentilAy').value;
          let Year =  document.getElementById('PersentilYil').value;
          let Length = document.getElementById('PersentilBoy').value;
          let Weight = document.getElementById('PersentilKilo').value;
          let Birthday = Year + '/' + Month + '/' + Day;
          let Persentils = ['%3', '%10', '%25', '%50', '%75', '%90', '%97'];

          if(Sex === "0"){
            document.getElementById('CinsiyetWarning').style.display = "block";
            document.getElementById('CinsiyetWarning').style.transition = "ease";

            setTimeout(() => {
              document.getElementById('CinsiyetWarning').style.display = "none";
            }, 8000);

            return false;
          }

          let Now = new Date();
          let Today = new Date(Birthday);

          let YearNow = Now.getYear();
          let MonthNow = Now.getMonth();
          let DateNow = Now.getDate();

          let Born = new Date(Birthday);

          let YearBorn = Born.getYear();
          let MonthBorn = Born.getMonth();
          let DateBorn = Born.getDate();

          let Age = {};

          YearAge = YearNow - YearBorn;

          if(MonthNow >= MonthBorn){

            var MonthAge = MonthNow - MonthBorn;

          }else{

            var MonthAge = 12 + MonthNow -MonthBorn;
            YearAge--;

          }

          if (DateNow >= DateBorn){

            var DateAge = DateNow - DateBorn;

          }else {

            var DateAge = 31 + DateNow - DateBorn;
            MonthAge--;

            if (MonthAge < 0) {
              MonthAge = 11;
              YearAge--;
            }

          }

          Age = {
            years: YearAge,
            months: MonthAge,
            days: DateAge
          };

          if(Age.years === -1){
            document.getElementById('DateWarning').style.display = "block";

            setTimeout(() => {
              document.getElementById('DateWarning').style.display = "none";
            }, 8000);

            return false;
          }

          if(Length === ""){
            document.getElementById('BoyWarning').style.display = "block";
            document.getElementById('BoyWarning').style.transition = "ease";

            setTimeout(() => {
              document.getElementById('BoyWarning').style.display = "none";
            }, 8000);

            return false;
          }

          if(Weight === ""){
            document.getElementById('KiloWarning').style.display = "block";
            document.getElementById('KiloWarning').style.transition = "ease";

            setTimeout(() => {
              document.getElementById('KiloWarning').style.display = "none";
            }, 8000);

            return false;
          }

          let ChartAge = {
            key: 0,
            value: 0
          };

          if(Age.months < 2 && Age.years < 1){
              ChartAge.key = 0;
              ChartAge.value = "Doğum";
          }else if(Age.months < 5 && Age.years < 1){
              ChartAge.key = 1;
              ChartAge.value = "3 Ay";
          }else if(Age.months < 8 && Age.years < 1){
              ChartAge.key = 2;
              ChartAge.value = "6 Ay";
          }else if(Age.months < 11 && Age.years < 1){
              ChartAge.key = 3;
              ChartAge.value = "9 Ay";
          }else if(Age.months < 12 && Age.years < 1 || Age.months < 2 && Age.years < 2){
              ChartAge.key = 4;
              ChartAge.value = "12 Ay";
          }else if(Age.months < 5 && Age.years < 2){
              ChartAge.key = 5;
              ChartAge.value = "15 Ay";
          }else if(Age.months < 9 && Age.years < 2){
              ChartAge.key = 6;
              ChartAge.value = "18 Ay";
          }else if(Age.months < 12 && Age.years < 2 || Age.months < 4 && Age.years < 3){
              ChartAge.key = 7;
              ChartAge.value = "2 Yaş";
          }else if(Age.months < 10 && Age.years < 3){
              ChartAge.key = 8;
              ChartAge.value = "2,5 Yaş";
          }else if(Age.months < 12 && Age.years < 3 || Age.months < 4 && Age.years < 4){
              ChartAge.key = 9;
              ChartAge.value = "3 Yaş";
          }else if(Age.months < 10 && Age.years < 4){
              ChartAge.key = 10;
              ChartAge.value = "3,5 Yaş";
          }else if(Age.months < 12 && Age.years < 4 || Age.months < 4 && Age.years < 5){
              ChartAge.key = 11;
              ChartAge.value = "4 Yaş";
          }else if(Age.months < 10 && Age.years < 5){
              ChartAge.key = 12;
              ChartAge.value = "4,5 Yaş";
          }else if(Age.months < 12 && Age.years < 5 || Age.months < 4 && Age.years < 6){
              ChartAge.key = 13;
              ChartAge.value = "5 Yaş";
          }else if(Age.months < 10 && Age.years < 6){
              ChartAge.key = 14;
              ChartAge.value = "5,5 Yaş";
          }else if(Age.months < 13 && Age.years < 7){
              ChartAge.key = 15;
              ChartAge.value = "6 Yaş";
          }

          let ChartLink;

          if(Age.months < 2 && Age.years < 1){
            ChartLink = Age.months + " aylık bebek gelişimi ile ilgili daha <span>detaylı bilgi almak için <a target='_blank' href='/" + Age.months + "-aylik-bebegin-gelisimi'>sayfamızı</a></span> ziyaret edebilirsiniz";
          }else if(Age.months < 13 && Age.years < 1){
            ChartLink = Age.months + " aylık bebek gelişimi ile ilgili daha <span>detaylı bilgi almak için <a target='_blank' href='/" + Age.months + "-aylik-bebek-gelisimi'>sayfamızı</a></span> ziyaret edebilirsiniz";
          }else if(Age.years < 2){
            ChartLink = "12-24 aylık bebek gelişimi ile ilgili daha <span>detaylı bilgi almak için <a target='_blank' href='/12-24-aylik-bebek-gelisimi'>sayfamızı</a></span> ziyaret edebilirsiniz";
          }else if(Age.years < 3){
            ChartLink = "24-36 aylık bebek gelişimi ile ilgili daha <span>detaylı bilgi almak için <a target='_blank' href='/24-36-aylik-bebek-gelisimi'>sayfamızı</a></span> ziyaret edebilirsiniz";
          }else{
            ChartLink = "24-36 aylık bebek gelişimi ile ilgili daha <span>detaylı bilgi almak için <a target='_blank' href='/24-36-aylik-bebek-gelisimi'>sayfamızı</a></span> ziyaret edebilirsiniz";
          }

          let chartResultYas;
          let chartResultAgeBoy = ChartBoy[3][ChartAge.key];
          let chartResultAgeKilo = ChartKilo[3][ChartAge.key];

          if(Age.years === 0){
            chartResultYas = Age.months + ' Ay ' + Age.days + ' Gün';
          }else{
            chartResultYas = Age.years + ' Yıl ' + Age.months + ' Ay ' + Age.days + ' Gün';
          }

          let PersentilKilos = [];
          let PersentilBoys = [];

          ChartBoy.forEach((elem, index) => {
            PersentilBoys.push(elem[ChartAge.key]);
          });

          ChartKilo.forEach((elem, index) => {
            PersentilKilos.push(elem[ChartAge.key]);
          });

          let PersentilBoy = PersentilBoys.reduce((prev, curr) => {
            return (Math.abs(curr - Length) < Math.abs(prev - Length) ? curr : prev);
          });

          let PersentilKilo = PersentilKilos.reduce((prev, curr) => {
            return (Math.abs(curr - Weight) < Math.abs(prev - Weight) ? curr : prev);
          });

          function getKeyByValue(object, value) {
            return Object.keys(object).find(key => object[key] === value);
          }

          let PersentilBoyText;
          let PersentilBoyCloseIndex = getKeyByValue(PersentilBoys, PersentilBoy);
          let PersentilBoyClose = Persentils[PersentilBoyCloseIndex];
          let PersentilBoyMessage;

          let PersentilKiloText;
          let PersentilKiloCloseIndex = getKeyByValue(PersentilKilos, PersentilKilo);
          let PersentilKiloClose = Persentils[PersentilKiloCloseIndex];
          let PersentilKiloMessage;

          if(parseInt(PersentilBoyCloseIndex) === 0){
            if(Length < PersentilBoy){
              PersentilBoyText = Persentils[PersentilBoyCloseIndex] + " 'den az";
              PersentilBoyMessage = "Çocuğunuz olması gerekenden daha kısa boydadır. Konu ile ilgili olarak doktorunuza danışabilirsiniz.";
            }else{
              PersentilBoyText =  PersentilBoyClose + ' - ' + Persentils[parseInt(PersentilBoyCloseIndex) + 1];
              PersentilBoyMessage = "Çocuğunuz normal boydadır.";
            }
          }else if(parseInt(PersentilBoyCloseIndex) > 0 && parseInt(PersentilBoyCloseIndex) < 6){
            if(Length < PersentilBoy){
              PersentilBoyText = Persentils[parseInt(PersentilBoyCloseIndex) - 1] + ' - ' + PersentilBoyClose;
              PersentilBoyMessage = "Çocuğunuz normal boydadır.";
            }else{
              PersentilBoyText =  PersentilBoyClose + ' - ' + Persentils[parseInt(PersentilBoyCloseIndex) + 1]
              PersentilBoyMessage = "Çocuğunuz normal boydadır.";
            }
          }else if(parseInt(PersentilBoyCloseIndex) > 5){
            if(Length <= PersentilBoy){
              PersentilBoyText = Persentils[parseInt(PersentilBoyCloseIndex) - 1] + ' - ' + PersentilBoyClose;
              PersentilBoyMessage = "Çocuğunuz normal boydadır.";
            }else{
              PersentilBoyText =  PersentilBoyClose + " 'den fazla";
              PersentilBoyMessage = "Çocuğunuz olması gerekenden daha uzun boydadır. Konu ile ilgili olarak doktorunuza danışabilirsiniz.";
            }
          }

          if(parseInt(PersentilKiloCloseIndex) === 0){
            if(Weight < PersentilKilo){
              PersentilKiloText = Persentils[PersentilKiloCloseIndex] + " 'den az";
              PersentilKiloMessage = "Çocuğunuz olması gerekenden daha düşük kilodadır. Konu ile ilgili olarak doktorunuza danışabilirsiniz.";
            }else{
              PersentilKiloText = PersentilKiloClose;
              PersentilKiloMessage = "Çocuğunuz normal kilodadır.";
            }
          }else if(parseInt(PersentilKiloCloseIndex) > 0 && parseInt(PersentilKiloCloseIndex) < 6){
            if(Weight < PersentilKilo){
              PersentilKiloText = Persentils[parseInt(PersentilKiloCloseIndex) - 1] + ' - ' + PersentilKiloClose;
              PersentilKiloMessage = "Çocuğunuz normal kilodadır.";
            }else{
              PersentilKiloText =  PersentilKiloClose + ' - ' + Persentils[parseInt(PersentilKiloCloseIndex) + 1]
              PersentilKiloMessage = "Çocuğunuz normal kilodadır.";
            }
          }else if(parseInt(PersentilKiloCloseIndex) > 5){
            if(Weight <= PersentilKilo){
              PersentilKiloText = Persentils[PersentilKiloCloseIndex - 1] + ' - ' + PersentilKiloClose;
              PersentilKiloMessage = "Çocuğunuz normal kilodadır.";
            }else{
              PersentilKiloText =  PersentilKiloClose + " 'den fazla";
              PersentilKiloMessage = "Çocuğunuz olması gerekenden daha fazla kilodadır. Konu ile ilgili olarak doktorunuza danışabilirsiniz.";
            }
          }

          chartBoy.data.datasets[7].data[0].x = ChartAge.value;
          chartBoy.data.datasets[7].data[0].y = Length;

          chartKilo.data.datasets[7].data[0].x = ChartAge.value;
          chartKilo.data.datasets[7].data[0].y = Weight;

          document.getElementById('chartResultBoyPersentil').innerText = PersentilBoyText;
          document.getElementById('PersentilResultLink').innerHTML = ChartLink;
          document.getElementById('chartResultKiloPersentil').innerText = PersentilKiloText;
          document.getElementById('chartResultCinsiyet').innerText = Sex;
          document.getElementById('chartResultCinsiyetBoy').innerText = Sex;
          document.getElementById('chartResultCinsiyetKilo').innerText = Sex;
          document.getElementById('chartResultYas').innerText = chartResultYas;
          document.getElementById('chartResultChildBoy').innerText = (Length + ' cm');
          document.getElementById('chartResultChildKilo').innerText = (Weight + ' kg');
          document.getElementById('chartResultBoyNormal').innerText = chartResultAgeBoy + ' cm';
          document.getElementById('chartResultKiloNormal').innerText = chartResultAgeKilo + ' kg';
          document.getElementById('chartResultBoyMessage').innerText = PersentilBoyMessage;
          document.getElementById('chartResultKiloMessage').innerText = PersentilKiloMessage;
          document.getElementById('PersentilResult').style.display = "block";

          chartBoy.update();
          chartKilo.update();

          setTimeout(() => {
            document.getElementById('Result').scrollIntoView({behavior: "smooth"});
          }, 500);
      });
    </script>

<div class="feedback hidden-xs hidden-sm feedBackSend">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">
                <div class="row">
                    <div id="post-ratings-3693" class="post-ratings" data-nonce="93f45e61af"><div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <span style="color: #1255a2;font-weight: bold;font-size: 18px">Bu makale size yardımcı oldu mu?</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <img id="rating_3693_1" src="https://www.eticicibebe.com/wp-content/plugins/wp-postratings/images/updown_crystal/rating_1_off.gif" alt="" title="" onmouseover="current_rating(3693, 1, '');" onmouseout="ratings_off(-1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /><img id="rating_3693_2" src="https://www.eticicibebe.com/wp-content/plugins/wp-postratings/images/updown_crystal/rating_2_off.gif" alt="" title="" onmouseover="current_rating(3693, 2, '');" onmouseout="ratings_off(-1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" />
                        </div></div><div id="post-ratings-3693-loading" class="post-ratings-loading"><img src="https://www.eticicibebe.com/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" class="post-ratings-image" />Loading...</div>                </div>
            </div>
        </div>
    </div>
</div>

